{% extends 'layout.html' %}
{% load static %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <!-- Page Title -->
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-bold my-0 fs-2">Calendário</h1>
        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item">
            Cronograma
          </li>
          <li class="breadcrumb-item text-dark">
            Calendário
          </li>
        </ul>
      </div>

      <!-- Actions -->
      <div class="d-flex flex-shrink-0">
        <div class="d-flex ms-3">
          <a
            href="{% url 'timetables:create' %}"
            class="btn btn-primary">
            Novo cronograma
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <div class="card">
        <div class="card-header border-0 p-8 pb-4">
          <h1 class="mb-0">
            Calendário
          </h1>
        </div>
        <div class="card-body">
          <div id="tcc_calendar"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block css-vendors %}
  <link rel="stylesheet" href="{% static 'vendor/fullcalendar/fullcalendar.bundle.css' %}">
{% endblock %}

{% block js-vendors %}
  <script src="{% static 'vendor/fullcalendar/fullcalendar.bundle.js' %}"></script>
{% endblock %}

{% block js-scripts %}
  <script src="{% static 'js/timetables/calendar.js' %}"></script>
{% endblock %}
