{% extends 'layout.html' %}
{% load static works %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}"
    style="animation-duration: 0.3s;">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-semibold my-0 fs-2">
          Cronogramas
        </h1>

        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            <a href="{% url 'timetables:list' %}" class="text-muted text-hover-primary">
              Cronogramas
            </a>
          </li>
          <li class="breadcrumb-item text-dark">
            {{ object.description }}
          </li>
        </ul>
      </div>

      <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
        <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
          <i class="fas fa-bars fs-2x"></i>
        </div>

        <a href="{% url 'home' %}">
          <div class="symbol symbol-40px symbol-circle">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-white" style="font-weight: bolder">TC</div>
          </div>
        </a>
      </div>

      <!-- Actions -->
      <div class="d-flex flex-shrink-0">
        <div class="d-flex ms-3">
          <button
            id="tcc_send_warning"
            type="button"
            class="btn btn-primary">
            Enviar aviso
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% csrf_token %}

  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <div class="row mb-4 mb-md-8">
        <div class="col col-12 col-md-9">
          <div class="card h-100">
            <div class="card-header border-0 p-8 pb-4">
              <div class="d-flex flex-column card-title">
                <h1 class="fs-2 fw-bold text-dark mb-0">
                  Olá, {{ request.user.get_full_name }}.
                </h1>
              </div>
            </div>

            <div class="card-body pt-4 d-flex align-items-end">
              {% with current_stage=object.get_current_stage %}
                {% if current_stage is not None %}
                  <span class="fs-4 text-gray-700">
                    Etapa atual: <span class="text-primary">{{ current_stage.description }}</span>
                  </span>
                {% else %}
                  <span class="fs-4 text-gray-700">
                    Por enquanto não há etapas atuais.
                  </span>
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 mt-4 mt-md-0">
          <div class="card height-100">
            <div class="card-body px-8 pt-2 pb-4 d-flex align-items-center flex-wrap">
              <div class="d-flex flex-center me-5 my-2">
                <div id="tcc_donut_chart" class="donut-chart d-flex align-items-center" data-size="70" data-line="11"></div>
              </div>

              {% with scores=object.get_score_works %}
                <div class="d-flex flex-column content-justify-center flex-grow-1">
                  <div class="d-flex fs-6 fw-semibold align-items-center">
                    <div class="bullet w-8px h-6px rounded-2 bg-success me-3"></div>

                    <div class="text-gray-500 flex-grow-1 me-2 text-ellipsis fs-7">Ótimos</div>

                    <div id="tcc_great_score" class="fw-bolder text-gray-700 text-xxl-end fs-7" data-great-score="{{ scores.great_works }}">
                      {{ scores.great_works }}
                    </div>
                  </div>

                  <div class="d-flex fs-6 fw-semibold align-items-center">
                    <div class="bullet w-8px h-6px rounded-2 bg-secondary me-3"></div>

                    <div class="text-gray-500 flex-grow-1 me-2 text-ellipsis fs-7">Regular</div>

                    <div id="tcc_regular_score" class="fw-bolder text-gray-700 text-xxl-end fs-7" data-regular-score="{{ scores.regular_works }}">
                      {{ scores.regular_works }}
                    </div>
                  </div>

                  <div class="d-flex fs-6 fw-semibold align-items-center">
                    <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>

                    <div class="text-gray-500 flex-grow-1 me-2 text-ellipsis fs-7">Péssimos</div>

                    <div id="tcc_terrible_score" class="fw-bolder text-gray-700 text-xxl-end fs-7" data-terrible-score="{{ scores.terrible_works }}">
                      {{ scores.terrible_works }}
                    </div>
                  </div>
                </div>
              {% endwith %}
            </div>
          </div>
        </div>
      </div>

      <div class="row g-4 g-md-6">
        <div class="col-12 col-md-9">
          <div class="card flex-grow-1 works-card">
            <div class="card-header border-0 p-8 pb-4">
              <div class="d-flex flex-column card-title">
                <h1 class="fs-5 fw-bold text-dark mb-0">
                  Cronograma: {{ object.description }}
                </h1>

                <h2 class="text-muted mt-1 fw-semibold fs-7">
                  Existe(m) {{ object.timetable_works.count }} TCC(s) vinculados ao cronograma.
                </h2>
              </div>
            </div>

            <div class="card-body pt-4">
              <div class="card-scroll works-list">
                {% for work in object.timetable_works.all %}
                  <div class="d-flex align-items-center mb-6">
                    <div class="position-relative height-100">
                      <span class="{% get_score_background work.get_work_score %} bullet bullet-vertical d-flex align-items-center me-4 work-bullet height-100"></span>

                      <span
                        class="{% get_score_background work.get_work_score %} bullet bullet-vertical d-flex align-items-center me-4 position-absolute work-bullet-progress"
                        {% autoescape off %}
                          {% calculate_height_percentage work.get_work_percentual %}
                        {% endautoescape %}
                      ></span>
                    </div>

                    <div class="flex-grow-1 me-5">
                      <div class="text-gray-800 fw-bolder fs-2 d-flex align-items-end flex-wrap">
                        <span class="me-2">
                          {{ work.title }}
                        </span>

                        <span class="{% get_score_color work.get_work_score %} fw-bold fs-7">
                          {% get_score_label work.get_work_score %}.
                        </span>
                      </div>

                      <div class="text-gray-700 fw-bolder fs-7 d-flex flex-wrap">
                        <span class="me-2">
                          {% calculate_percentage work.get_work_percentual %}% desenvolvido.
                        </span>

                        <span class="text-gray-600 fw-light">
                          ({{ work.get_completed_stages.count }}/{{ work.get_all_stages.count }} Etapas)
                        </span>
                      </div>

                      <div class="text-gray-700 fw-bold fs-7 d-flex flex-wrap flex-column flex-sm-row">
                        <span>
                          {{ work.get_not_delayed_stages.count }} Etapas entregue sem atraso.
                        </span>

                        <span class="mx-5 d-none d-sm-block"> | </span>

                        <span>
                          {{ work.get_delayed_stages.count }} Entregas atrasadas.
                        </span>
                      </div>

                      <div class="text-gray-400 fw-semibold fs-7 d-flex flex-wrap flex-column flex-sm-row">
                        <span class="d-inline-block text-ellipsis">
                          Desenvolvido por

                          {% for mentee in work.mentees.all %}
                            <span class="text-primary fw-semibold">{{ mentee.get_full_name }}</span>

                            {% if not forloop.last %}
                              e
                            {% endif %}
                          {% endfor %}
                        </span>

                        <span class="mx-5 d-none d-sm-block"> | </span>

                        <span class="d-inline-block text-ellipsis">
                          Orientado por

                          <span class="text-primary fw-semibold">{{ work.supervisor.get_full_name }}</span>.
                        </span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-12 mb-4 mb-md-8">
              <div class="card participant-card">
                <div class="card-header border-0 p-8 pb-4">
                  <div class="d-flex flex-column card-title">
                    <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">
                      {{ object.get_mentees.count }}
                    </span>

                    <span class="text-gray-400 pt-1 fw-semibold fs-6 text-nowrap text-ellipsis">
                      Orientando(s).
                    </span>
                  </div>
                </div>

                <div class="card-body pt-4">
                  <div class="card-scroll participant-list">
                    {% for mentee in object.get_mentees %}
                      <div class="d-flex flex-stack">
                        <div class="text-gray-700 fw-semibold fs-6 me-2 text-nowrap text-ellipsis">
                          {{ mentee.get_full_name }}
                        </div>
                      </div>

                      {% if not forloop.last %}
                        <div class="separator separator-dashed my-1"></div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="card participant-card">
                <div class="card-header border-0 p-8 pb-4">
                  <div class="d-flex flex-column card-title">
                    <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">
                      {{ object.get_supervisors.count }}
                    </span>

                    <span class="text-gray-400 pt-1 fw-semibold fs-6">
                      Orientadore(s).
                    </span>
                  </div>
                </div>

                <div class="card-body pt-4">
                  <div class="card-scroll participant-list">
                    {% for supervisor in object.get_supervisors %}
                      <div class="d-flex flex-stack">
                        <div class="text-gray-700 fw-semibold fs-6 me-2 text-nowrap text-ellipsis">
                          {{ supervisor.get_full_name }}
                        </div>
                      </div>

                      {% if not forloop.last %}
                        <div class="separator separator-dashed my-1"></div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="tcc_modal_send_warning"
    class="modal fade"
    tabindex="-1"
    data-timetable="{{ object.id }}">
    <div class="modal-dialog modal-xl">
      <form id="tcc_send_warning_form" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enviar aviso</h5>

          <div
            id="tcc_modal_send_warning_close"
            class="btn btn-icon btn-sm btn-active-light-primary ms-2"
            data-bs-dismiss="modal"
            aria-label="Close">
            <i class="fas fa-times"></i>
          </div>
        </div>

        <div class="modal-body p-8">
          <div
            id="tcc_send_warning_info"
            class="alert alert-dismissible bg-info d-flex flex-column flex-sm-row w-100 p-5 mb-10">
            <span class="svg-icon svg-icon-2hx me-4 mb-5 mb-sm-0">
              <i class="far fa-bell fa-fw fa-3x text-white"></i>
            </span>

            <div class="d-flex flex-column">
              <h4 class="fw-semibold text-white">Envie avisos.</h4>
              <span class="text-white">
                Ao confirmar os destinatários receberão uma notificação no sistema e um email.
                O aviso apenas será enviado aos destinatários que você selecionar. Utilize esse recurso
                para enviar avisos, como por exemplo, local de apresentação, reforço de envio e outras
                mensagens.
              </span>
            </div>
          </div>

          <div
            id="tcc_send_warning_error"
            class="alert alert-dismissible bg-danger d-flex flex-column flex-sm-row w-100 p-5 mb-10 d-none">
            <span class="svg-icon svg-icon-2hx me-4 mb-5 mb-sm-0">
              <i class="fas fa-exclamation-circle fa-fw fa-3x text-white"></i>
            </span>

            <div class="d-flex flex-column">
              <h4 class="fw-semibold text-white">Houve um erro.</h4>
              <span id="tcc_send_warning_error_message" class="text-white">
              </span>
            </div>
          </div>

          <div class="fv-row">
            <label for="receivers" class="required form-label">
              Destinatários
            </label>

            <select id="tcc_receivers" name="receivers" class="form-control form-control-solid">
            </select>
          </div>

          <div class="fv-row mt-8">
            <label for="message" class="required form-label">
              Mensagem
            </label>

            <textarea
              id="tcc_message"
              name="message"
              class="form-control form-control-solid"
              cols="30"
              rows="10"
              minlength="3"
              maxlength="255"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button id="tcc_send_warning_cancel" type="button" class="btn btn-light" data-bs-dismiss="modal">
            Fechar
          </button>

          <button id="tcc_send_warning_confirm" type="submit" class="btn btn-primary">
            Confirmar
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block inline-css-styles %}
  <style>
    .donut-chart {
      min-width: 70px !important;
      min-height: 70px !important;
    }

    .participant-card {
      min-height: 259.75px;
      height: 100%;
    }

    .participant-list {
      max-height: 108.797px;
    }

    .works-card {
      min-height: 545.5px;
    }

    .works-list {
      max-height: 418.5px;
    }

    .position-relative {
      position: relative;
    }

    .position-absolute {
      position: absolute;
    }

    .work-bullet {
      min-height: 110px;
      opacity: 0.3;
    }

    @media (min-width: 576px) {
      .work-bullet {
        min-height: 90px;
        opacity: 0.3;
      }
    }

    .work-bullet-progress {
      bottom: 0;
      left: 0;
    }
  </style>
{% endblock %}

{% block js-vendors %}
  <script src="{% static 'vendor/jquery.validate.js/jquery.validate.min.js' %}"></script>
{% endblock %}

{% block js-scripts %}
  <script src="{% static 'js/timetables/detail.js' %}"></script>
{% endblock %}
