{% extends 'layout.html' %}
{% load static %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <!-- Page Title -->
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-bold my-0 fs-2">Adicionar</h1>
        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            <a href="{% url 'timetables:list' %}" class="text-muted">
              Cronogramas
            </a>
          </li>
          <li class="breadcrumb-item text-dark">
            Adicionar
          </li>
        </ul>
      </div>

      <!-- Actions -->
      <div class="d-flex flex-shrink-0">
        <div class="d-flex ms-3">
          <a
            href="{% url 'timetables:list' %}"
            class="btn btn-primary">
            Listagem
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <form method="post" id="tcc_editor_timetables" novalidate>
        <div class="card">
          <div class="card-header border-0 p-8 pb-4">
            <h1 class="mb-0">Adicione um cronograma</h1>
          </div>
          <div class="card-body py-4">
            {{ form.errors }}

            {{ form.teacher  }}

            <!-- Description -->
            <div class="fv-row mb-8">
              <label for="description" class="required form-label">Descrição</label>
              {% if form.description.errors %}
                <textarea class="form-control form-control-solid is-invalid" name="description" id="description" cols="30" rows="10">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
              {% else %}
                <textarea class="form-control form-control-solid" name="description" id="description" cols="30" rows="10">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
              {% endif %}
              {% for error in form.description.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>

            <!-- Mentees -->
            <div class="fv-row mb-8">
              <label for="mentees" class="required form-label">Orientandos</label>
              {% if form.mentee_field.errors %}
                <select
                  class="form-select form-select-solid is-invalid"
                  name="mentee_field"
                  data-control="select2"
                  data-close-on-select="false"
                  data-placeholder="Selecione os orientandos"
                  data-allow-clear="true"
                  multiple="multiple"
                >
                  <option></option>
                  {% for pk, choice in form.mentee_field.field.choices %}
                    <option value="{{ pk }}">{{ choice }}</option>
                  {% endfor %}
                </select>
              {% else %}
                <select
                  class="form-select form-select-solid"
                  name="mentee_field"
                  data-control="select2"
                  data-close-on-select="false"
                  data-placeholder="Selecione os orientandos"
                  data-allow-clear="true"
                  multiple="multiple"
                >
                  <option></option>
                  {% for pk, choice in form.mentee_field.field.choices %}
                    <option value="{{ pk }}">{{ choice }}</option>
                  {% endfor %}
                </select>
              {% endif %}
              {% for error in form.mentee_field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>

            <!-- Supervisors -->
            <div class="fv-row mb-8">
              <label for="mentees" class="required form-label">Orientadores</label>
              {% if form.supervisor_field.errors %}
                <select
                  class="form-select form-select-solid is-invalid"
                  name="supervisor_field"
                  data-control="select2"
                  data-close-on-select="false"
                  data-placeholder="Selecione os orientadores"
                  data-allow-clear="true"
                  multiple="multiple"
                >
                  <option></option>
                  {% for pk, choice in form.supervisor_field.field.choices %}
                    <option value="{{ pk }}">{{ choice }}</option>
                  {% endfor %}
                </select>
              {% else %}
                <select
                  class="form-select form-select-solid"
                  name="supervisor_field"
                  data-control="select2"
                  data-close-on-select="false"
                  data-placeholder="Selecione os orientadores"
                  data-allow-clear="true"
                  multiple="multiple"
                >
                  <option></option>
                  {% for pk, choice in form.supervisor_field.field.choices %}
                    <option value="{{ pk }}">{{ choice }}</option>
                  {% endfor %}
                </select>
              {% endif %}
              {% for error in form.supervisor_field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="card-footer d-flex justify-content-end pt-4 border-0">
            <a href="{% url 'timetables:list' %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary ms-5">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block js-scripts %}
  <script src="{% static 'js/timetables/editor.js' %}"></script>
{% endblock %}
