{% extends 'layout.html' %}
{% load static utils %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <!-- Page Title -->
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-bold my-0 fs-2">Adicionar</h1>
        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            <a href="{% url 'timetables:list' %}" class="text-muted">
              Cronogramas
            </a>
          </li>
          <li class="breadcrumb-item text-dark">
            Adicionar
          </li>
        </ul>
      </div>

      <!-- Actions -->
      <div class="d-flex flex-shrink-0">
        <div class="d-flex ms-3">
          <a
            href="{% url 'timetables:list' %}"
            class="btn btn-primary">
            Listagem
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <form method="post" id="tcc_editor_timetables" novalidate>
        <div class="card">
          <div class="card-header border-0 p-8 pb-4">
            <h1 class="mb-0">Adicione um cronograma</h1>
          </div>
          <div class="card-body py-4">
            {{ form.teacher  }}

            <!-- Description -->
            <div class="fv-row mb-8">
              <label for="description" class="required form-label">Descrição</label>
              {% if form.description.errors %}
                <textarea class="form-control form-control-solid is-invalid" name="description" id="description" cols="30" rows="10">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
              {% else %}
                <textarea class="form-control form-control-solid" name="description" id="description" cols="30" rows="10">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
              {% endif %}
              {% for error in form.description.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>

            <!-- Mentees -->
            <div class="fv-row mb-8">
              <label for="mentees" class="required form-label">Orientandos</label>
              {% if form.mentee_field.errors %}
                <select
                  class="form-select form-select-solid is-invalid"
                  name="mentee_field"
                  data-control="select2"
                  data-close-on-select="false"
                  data-placeholder="Selecione os orientandos"
                  data-allow-clear="true"
                  multiple="multiple"
                >
                  <option></option>
                  {% for pk, choice in form.mentee_field.field.choices %}
                    <option
                      {% if pk in mentees %}
                        selected
                      {% endif %}
                      value="{{ pk }}">
                      {{ choice }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <select
                  class="form-select form-select-solid"
                  name="mentee_field"
                  data-control="select2"
                  data-close-on-select="false"
                  data-placeholder="Selecione os orientandos"
                  data-allow-clear="true"
                  multiple="multiple"
                >
                  <option></option>
                  {% for pk, choice in form.mentee_field.field.choices %}
                    <option
                      {% if pk in mentees %}
                        selected
                      {% endif %}
                      value="{{ pk }}">
                      {{ choice }}
                    </option>
                  {% endfor %}
                </select>
              {% endif %}
              {% for error in form.mentee_field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>

            <!-- Supervisors -->
            <div class="fv-row mb-8">
              <label for="mentees" class="required form-label">Orientadores</label>
              {% if form.supervisor_field.errors %}
                <select
                  class="form-select form-select-solid is-invalid"
                  name="supervisor_field"
                  data-control="select2"
                  data-close-on-select="false"
                  data-placeholder="Selecione os orientadores"
                  data-allow-clear="true"
                  multiple="multiple"
                >
                  <option></option>
                  {% for pk, choice in form.supervisor_field.field.choices %}
                    <option
                      {% if pk in supervisors %}
                        selected
                      {% endif %}
                      value="{{ pk }}">
                      {{ choice }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <select
                  class="form-select form-select-solid"
                  name="supervisor_field"
                  data-control="select2"
                  data-close-on-select="false"
                  data-placeholder="Selecione os orientadores"
                  data-allow-clear="true"
                  multiple="multiple"
                >
                  <option></option>
                  {% for pk, choice in form.supervisor_field.field.choices %}
                    <option
                      {% if pk in supervisors %}
                        selected
                      {% endif %}
                      value="{{ pk }}">
                      {{ choice }}
                    </option>
                  {% endfor %}
                </select>
              {% endif %}
              {% for error in form.supervisor_field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>

            <!-- Stages -->
            {% if object %}
              <div class="fv-row">
                <div class="d-flex align-items-center justify-content-between mb-6">
                  <h2 class="mb-0">Etapas</h2>
                  <div class="d-flex flex-shrink-0">
                    <div class="d-flex ms-3">
                      <button
                        type="button"
                        id="tcc_stage_editor_add_btn"
                        class="btn btn-sm btn-secondary">
                        Adicionar
                      </button>
                    </div>
                  </div>
                </div>

                <div id="tcc_stage_editor_container" class="accordion" data-timetable="{{ object.id }}">
                  <div class="d-flex justify-content-center align-items-center py-3">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    <span class="ms-3">Carregando campos...</span>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="card-footer d-flex justify-content-end pt-4 border-0">
            <a href="{% url 'timetables:list' %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary ms-5">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="tcc_modal_stage">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adicionar etapa</h5>

          <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </div>
        </div>

        <div class="modal-body p-8">
          <!-- Description -->
          <div class="fv-row mb-8">
            <label for="tcc_stage_editor_description" class="required form-label">Descrição</label>
            <input
              id="tcc_stage_editor_description"
              type="text"
              class="form-control form-control-solid tcc_description_field"
              placeholder="Descrição">
          </div>

          <!-- Activity configuration -->
          <div class="fv-row mb-8">
            <label for="tcc_stage_editor_activity" class="required form-label">Configuração de atividade</label>
            <select id="tcc_stage_editor_activity" class="form-select form-select-solid tcc_activity_field">
            </select>
          </div>

          <!-- Start date -->
          <div class="fv-row mb-8">
            <label for="tcc_stage_editor_start_date" class="required form-label">Data de início</label>
            <input
              class="form-control form-control-solid"
              placeholder="dd/mm/aaaa"
              id="tcc_stage_editor_start_date"/>
          </div>

          <!-- Supervisor date -->
          <div class="fv-row mb-8">
            <label for="tcc_stage_editor_supervisor_date" class="required form-label">Data de envio ao orientador</label>
            <input
              class="form-control form-control-solid"
              placeholder="dd/mm/aaaa"
              id="tcc_stage_editor_supervisor_date"/>
          </div>

          <!-- Send date -->
          <div class="fv-row mb-8">
            <label for="tcc_stage_editor_send_date" class="required form-label">Data de envio</label>
            <input
              class="form-control form-control-solid"
              placeholder="dd/mm/aaaa"
              id="tcc_stage_editor_send_date"/>
          </div>

          <!-- Presentation date -->
          <div class="fv-row mb-8">
            <label for="tcc_stage_editor_presentation_date" class="form-label">Data de apresentação</label>
            <input
              class="form-control form-control-solid"
              placeholder="dd/mm/aaaa"
              id="tcc_stage_editor_presentation_date"/>
          </div>

          <!-- File example date -->
          <div class="fv-row mb-8">
            <label class="form-label">Modelos de exemplo</label>
            <div class="fv-row tcc_stage_examples_repeater">
              <div data-repeater-list="stage-examples">
                <div data-repeater-item class="mb-2">
                  <div class="row g-3 align-items-center">
                    <div class="col">
                      <input type="file" name="tcc_stage_examples_item" class="form-control form-control-solid tcc_create_stage_examples" />
                    </div>
                    <div class="col-auto">
                      <input data-repeater-delete type="button" class="btn btn-danger" value="Remover"/>
                    </div>
                  </div>
                </div>
              </div>
              <input data-repeater-create type="button" class="btn btn-primary btn-sm" value="Adicionar"/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button id="tcc_stage_editor_modal_cancel_button" type="button" class="btn btn-light" data-bs-dismiss="modal">
            Fechar
          </button>
          <button id="tcc_stage_editor_modal_confirm_button" type="button" class="btn btn-primary">
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js-vendors %}
  <script src="{% static 'vendor/sweetalert/sweetalert.js' %}"></script>
  <script src="{% static 'vendor/jquery.repeater/jquery.repeater.min.js' %}"></script>
  <script>
    const Toast = Swal.mixin({
      toast: true,
      position: 'bottom-end',
      showConfirmButton: false,
      timer: 3000,
    });
  </script>
{% endblock %}

{% block js-scripts %}
<script>
  $(document).ready(function () {
    $('.tcc_stage_examples_repeater').repeater({
      show: function () {
        $(this).slideDown();
      },
    });
  });
</script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/timetables/stages-editor.js' %}"></script>
  <script src="{% static 'js/timetables/editor.js' %}"></script>
{% endblock %}
