{% extends 'layout.html' %}
{% load static widget_tweaks %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}"
    style="animation-duration: 0.3s;">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-semibold my-0 fs-2">
          Todas as propostas
        </h1>

        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            TCC
          </li>
          <li class="breadcrumb-item text-dark">
            Propostas
          </li>
        </ul>
      </div>

      <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
        <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
          <i class="fas fa-bars fs-2x"></i>
        </div>

        <a href="{% url 'home' %}">
          <div class="symbol symbol-40px symbol-circle">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-white" style="font-weight: bolder">TC</div>
          </div>
        </a>
      </div>

      <!-- Actions -->
      {% if request.user.groups.all|first == mentee_group %}
        <div class="d-flex flex-shrink-0">
          <div class="d-flex ms-3">
            {% if not allow_create %}
              <div
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Já existe uma proposta ativa."
                id="tcc_work_proposal_create_link_error">
                <button class="btn btn-primary" disabled>
                  Nova proposta
                </button>
              </div>

              <a
                href="{% url 'works:proposal-create' %}"
                class="btn btn-primary d-none"
                id="tcc_work_proposal_create_link">
                Nova proposta
              </a>
            {% else %}
              <a
                href="{% url 'works:proposal-create' %}"
                class="btn btn-primary"
                id="tcc_work_proposal_create_link">
                Nova proposta
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% csrf_token %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <div class="card">
        <div class="card-header border-0 p-8 pb-4">
          <h1 class="mb-0">Propostas de TCC</h1>
        </div>
        <div class="card-body py-4 pb-8">
          <div class="accordion" id="tcc_accordion">
            {% for item in object_list %}
              <div id="tcc_accordion_item_{{ item.id }}" class="accordion-item">
                <h2 class="accordion-header" id="tcc_accordion_header_{{ item.id }}">
                  <button
                    class="accordion-button collapsed fs-4 fw-semibold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#tcc_accordion_body_{{ item.id }}"
                    aria-expanded="false"
                    aria-controls="tcc_accordion_body_{{ item.id }}">
                    <div class="row w-100">
                      <div class="col-12 col-sm-6 col-md d-flex align-items-center">
                        <h1 class="fs-5 mb-0 max-w-300px text-ellipsis">
                          {{ item.title }}
                        </h1>
                      </div>

                      {% if request.user.groups.all|first != mentee_group %}
                        <div class="col-12 col-sm-6 col-md d-flex justify-content-start justify-content-sm-end justify-content-md-center align-items-center">
                          <span class="text-muted fs-6 me-4 me-md-0">
                            {{ item.get_mentees }}
                          </span>
                        </div>

                        <div class="col-12 col-sm-6 col-md d-flex justify-content-start justify-content-md-center align-items-center">
                          <span class="text-muted fs-6 tcc-work-proposal-supervisor">
                            {{ item.supervisor }}
                          </span>
                        </div>
                      {% endif %}

                      <div class="col-12 col-sm-6 col-md d-flex justify-content-start justify-content-sm-end align-items-center">
                        <span class="me-4 tcc-work-proposal-badges">
                          {% if item.approved == True %}
                            <span class="badge badge-light-success">Aprovado</span>
                          {% elif item.approved == False %}
                            <span class="badge badge-light-danger">Reprovado</span>
                          {% else %}
                            <span class="badge badge-light-warning">Pendente</span>
                          {% endif %}
                        </span>
                      </div>
                    </div>
                  </button>
                </h2>
                <div
                  id="tcc_accordion_body_{{ item.id }}"
                  class="accordion-collapse collapse"
                  aria-labelledby="tcc_accordion_header_{{ item.id }}"
                  data-bs-parent="#tcc_accordion">
                  <div class="accordion-body">
                    <div class="fv-row">
                      <label class="form-label">Título</label>
                      <input class="form-control form-control-solid disabled" value="{{ item.title }}" />
                    </div>

                    <div class="fv-row mt-8">
                      <label class="form-label">Descrição</label>
                      <textarea readonly cols="30" rows="10" class="form-control form-control-solid disabled">{{ item.description }}</textarea>
                    </div>

                    {% if item.approved == None and user_group.is_teacher %}
                      <div class="fv-row mt-8 element-only-requested">
                        <label for="tcc_supervisor" class="required form-label">Orientador</label>
                        <select class="form-select form-select-solid" data-control="select2">
                          {% for user in supervisor %}
                            {% if  user == item.supervisor %}
                              <option value="{{ user.id }}" selected>{{ user.get_full_name }}</option>
                            {% else %}
                              <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                    {% endif %}

                    {% if item.approved == None %}
                      {% if user_group.is_teacher %}
                        <div class="d-flex justify-content-end element-only-requested mt-8">
                          <div>
                            <button
                              type="button"
                              class="btn btn-sm btn-danger tcc_remove_button"
                              data-id="{{ item.id }}"
                            >
                              Reprovar
                            </button>
                          </div>
                          <div class="ms-2">
                            <button
                              type="button"
                              class="btn btn-sm btn-primary tcc_save_button"
                              data-id="{{ item.id }}"
                            >
                              Aprovar
                            </button>
                          </div>
                        </div>
                      {% else %}
                        <div class="d-flex justify-content-end mt-8">
                          <div class="ms-2">
                            <button
                              type="button"
                              class="btn btn-sm btn-danger tcc_cancel_button"
                              data-id="{{ item.id }}"
                            >
                              Cancelar
                            </button>
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}

            {% if object_list|length == 0 %}
              <div class="accordion-item">
                <h2 class="accordion-header p-7 fs-7 text-muted fw-light">
                  Sem propostas
                </h2>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block css-vendors %}
  <style>
    .my-actions { margin: 0 2em; }
    .order-1 { order: 1; }
    .order-2 { order: 2; }
    .order-3 { order: 3; }

    .right-gap {
      margin-right: auto;
    }
  </style>
{% endblock %}

{% block js-scripts %}
  <script src="{% static 'js/final-work-proposal/list.js' %}"></script>
{% endblock %}
