{% load static router_tags utils permissions %}

{% user_group request.user as group %}

<div id="kt_aside" class="aside aside-extended bg-white" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
  <!-- Primary -->
  <div class="aside-primary d-flex flex-column align-items-lg-center flex-row-auto">
    <!-- Logo -->
    <div class="aside-logo d-none d-lg-flex flex-column align-items-center flex-column-auto py-10" id="kt_aside_logo">
      <a href="">
        <div class="symbol symbol-50px symbol-circle">
          <div class="symbol-label fs-2 fw-semibold bg-primary text-white" style="font-weight: bolder">TC</div>
        </div>
      </a>
    </div>

    <!-- NavBar -->
    <div class="aside-nav d-flex flex-column align-items-center flex-column-fluid w-100 pt-5 pt-lg-0" id="kt_aside_nav">
      <div class="hover-scroll-y mb-10" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_aside_nav" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-offset="0px">
        <ul class="nav flex-column">
          {% if group.is_teacher %}
            <!-- Item -->
            <li
              class="nav-item mb-2"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              data-bs-placement="right"
              data-bs-dismiss="click"
              title="Atividade">
              <a
                class="nav-link btn btn-custom btn-icon navbar-primary-icon {% get_primary_menu_is_active request 'activities' %}"
                data-bs-toggle="tab"
                href="#kt_aside_nav_tab_activity">
                <i class="fas fa-clipboard-list"></i>
              </a>
            </li>
          {% endif %}
          <!-- Item -->
          <li
            class="nav-item mb-2"
            data-bs-toggle="tooltip"
            data-bs-trigger="hover"
            data-bs-placement="right"
            data-bs-dismiss="click"
            title="TCC">
            <a
              class="nav-link btn btn-custom btn-icon navbar-primary-icon {% get_primary_menu_is_active request 'works' %}"
              data-bs-toggle="tab"
              href="#kt_aside_nav_tab_works">
              <i class="fas fa-briefcase"></i>
            </a>
          </li>
          <!-- Item -->
          <li
            class="nav-item mb-2"
            data-bs-toggle="tooltip"
            data-bs-trigger="hover"
            data-bs-placement="right"
            data-bs-dismiss="click"
            title="Cronograma">
            <a
              class="nav-link btn btn-custom btn-icon navbar-primary-icon {% get_primary_menu_is_active request 'timetables' %}"
              data-bs-toggle="tab"
              href="#kt_aside_nav_tab_timetables">
              <i class="fas fa-calendar-alt"></i>
            </a>
          </li>
          {% if group.is_teacher %}
            <!-- Item -->
            <li
              class="nav-item mb-2"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              data-bs-placement="right"
              data-bs-dismiss="click"
              title="Usuários">
              <a
                class="nav-link btn btn-custom btn-icon navbar-primary-icon {% get_primary_menu_is_active request 'users' %}"
                data-bs-toggle="tab"
                href="#kt_aside_nav_tab_users">
                <i class="fas fa-users"></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <!-- Footer -->
    <div class="aside-footer d-flex flex-column align-items-center flex-column-auto" id="kt_aside_footer">
      <div class="d-flex align-items-center mb-2">
        <div
          class="nav-link btn btn-icon btn-custom"
          data-kt-menu-trigger="click"
          data-kt-menu-overflow="true"
          data-kt-menu-placement="top-start"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-dismiss="click"
          title="Notificações"
        >
          <i class="fas fa-bell" style="font-size: 20px;"></i>
        </div>

        <div class="menu menu-sub menu-sub-dropdown menu-column w-350px w-lg-375px" data-kt-menu="true">
          <div class="d-flex flex-column bgi-no-repeat rounded-top dropdown-header-bg">
            <h3 class="text-white fw-bold px-9 mt-10 mb-6">Notificações
            <span class="fs-8 opacity-75 ps-3">{{ notifications.count }} notificações</span></h3>
            <ul class="nav nav-line-tabs nav-line-tabs-2x nav-stretch fw-bold px-9">
              <li class="nav-item">
                <a
                  class="nav-link text-white opacity-75 opacity-state-100 pb-4 active"
                  data-bs-toggle="tab"
                  href="#kt_topbar_notifications_not_viewed"
                >
                  Recentes
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white opacity-75 opacity-state-100 pb-4"
                  data-bs-toggle="tab"
                  href="#kt_topbar_notifications_viewed"
                >
                  Visualizadas
                </a>
              </li>
            </ul>
          </div>

          <div class="tab-content">
            <div class="tab-pane fade show active" id="kt_topbar_notifications_not_viewed" role="tabpanel">
              <div class="scroll-y mh-325px my-2 mb-5 px-8">
                {% for notification in notifications.not_viewed %}
                  <div class="border border-gray-300 rounded mt-3">
                    <div class="d-flex flex-column p-3">
                      <h3 class="fs-7 fw-semibold text-gray-800 mb-0">
                        {{ notification.description }}
                      </h3>
                      <p class="fs-7 fw-light text-gray-700 mb-0 text-end">
                        {{ notification.get_created_at }}
                      </p>
                    </div>
                  </div>
                {% endfor %}

                {% if notifications.not_viewed|length == 0 %}
                  <div class="border border-gray-300 rounded mt-3">
                    <div class="d-flex flex-column p-3">
                      <h3 class="fs-7 fw-light text-gray-700 mb-0 text-center">
                        Sem notificações
                      </h3>
                    </div>
                  </div>
                {% endif %}
              </div>

              {% if notifications.not_viewed|length != 0 %}
                <div class="py-3 text-center border-top">
                  <button id="tcc_notification_viewall" class="btn btn-color-gray-600 btn-active-color-primary">
                    Marcar como lido
                  </button>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane fade" id="kt_topbar_notifications_viewed" role="tabpanel">
              <div class="scroll-y mh-325px my-2 mb-5 px-8">
                {% for notification in notifications.viewed %}
                  <div class="border border-gray-300 rounded mt-3">
                    <div class="d-flex flex-column p-3">
                      <h3 class="fs-7 fw-semibold text-gray-800 mb-0">
                        {{ notification.description }}
                      </h3>
                      <p class="fs-7 fw-light text-gray-700 mb-0 text-end">
                        {{ notification.get_created_at }}
                      </p>
                    </div>
                  </div>
                {% endfor %}

                {% if notifications.viewed|length == 0 %}
                  <div class="border border-gray-300 rounded mt-3">
                    <div class="d-flex flex-column p-3">
                      <h3 class="fs-7 fw-light text-gray-700 mb-0 text-center">
                        Sem notificações
                      </h3>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if request.user.is_authenticated %}
        <div class="d-flex align-items-center mb-10" id="kt_header_user_menu_toggle">
          <!-- Activator -->
          <div
            class="cursor-pointer symbol symbol-40px"
            data-kt-menu-trigger="click"
            data-kt-menu-overflow="true"
            data-kt-menu-placement="top-start"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-dismiss="click"
            title="Perfil"
          >
            <div class="symbol symbol-40px">
              <div class="symbol-label fs-2 fw-semibold bg-primary text-inverse-info">
                {{ request.user.get_full_name|initials }}
              </div>
            </div>
          </div>

          <!-- Menu -->
          <div
            class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px"
            data-kt-menu="true"
          >
            <div class="menu-item px-3">
              <div class="menu-content d-flex align-items-center px-3">
                <div class="d-flex flex-column">
                  <div class="fw-bolder d-flex align-items-center fs-5">{{ request.user.get_full_name }}
                    {% if request.user.is_superuser %}
                      <span class="badge badge-light-info fw-bolder fs-8 px-2 py-1 ms-2">Admin</span>
                    {% endif %}

                    {% if group.is_mentee %}
                      <span class="badge badge-light-primary fw-bolder fs-8 px-2 py-1 ms-2">Orientando</span>
                    {% endif %}

                    {% if group.is_teacher %}
                      <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">Professor</span>
                    {% endif %}

                    {% if group.is_supervisor %}
                      <span class="badge badge-light-warning fw-bolder fs-8 px-2 py-1 ms-2">Professor</span>
                    {% endif %}
                  </div>
                  <span class="fw-bold text-muted fs-7">{{ request.user.email }}</span>
                </div>
              </div>
            </div>
            <div class="separator my-2"></div>
            <div class="menu-item px-5">
              <a href="{% url 'logout' %}" class="menu-link px-5">Sair</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <!-- Secondary -->
  <div class="aside-secondary d-flex flex-row-fluid">
    <div class="aside-workspace my-5 p-5" id="kt_aside_wordspace">
      <div class="d-flex h-100 flex-column">
        <!-- Wrapper -->
        <div class="flex-column-fluid hover-scroll-y" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_aside_wordspace" data-kt-scroll-dependencies="#kt_aside_secondary_footer" data-kt-scroll-offset="0px">
          <div class="tab-content">
            {% if group.is_teacher %}
              <!-- Activity Tab -->
              <div class="tab-pane fade {% get_primary_tab_is_active request 'activities' %}" id="kt_aside_nav_tab_activity" role="tabpanel">
                <div class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-6 px-6 my-5 my-lg-0" id="kt_aside_menu" data-kt-menu="true">
                  <div id="kt_aside_menu_wrapper" class="menu-fit">
                    <div class="menu-item">
                      <div class="menu-content pb-2">
                        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Atividade</span>
                      </div>
                    </div>
                    <div class="menu-item">
                      <a
                        class="menu-link {% get_link_is_active request 'activities:list' %}"
                        href="{% url 'activities:list' %}">
                        <span class="menu-icon navbar-secondary-icon">
                          <i class="fas fa-list-ul"></i>
                        </span>
                        <span class="menu-title">Listagem
                      </a>
                    </div>
                    <div class="menu-item">
                      <a
                        class="menu-link {% get_link_is_active request 'activities:create' %}"
                        href="{% url 'activities:create' %}">
                        <span class="menu-icon navbar-secondary-icon">
                          <i class="fas fa-plus"></i>
                        </span>
                        <span class="menu-title">Adicionar
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            <!-- Works Tab -->
            <div class="tab-pane fade {% get_primary_tab_is_active request 'works' %}" id="kt_aside_nav_tab_works" role="tabpanel">
              <div class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-6 px-6 my-5 my-lg-0" id="kt_aside_menu" data-kt-menu="true">
                <div id="kt_aside_menu_wrapper" class="menu-fit">
                  <div class="menu-item">
                    <div class="menu-content pb-2">
                      <span class="menu-section text-muted text-uppercase fs-8 ls-1">Propostas</span>
                    </div>
                  </div>
                  <div class="menu-item">
                    <a
                      class="menu-link {% get_link_is_active request 'works:proposal-list' %}"
                      href="{% url 'works:proposal-list' %}">
                      <span class="menu-icon navbar-secondary-icon">
                        <i class="fas fa-list"></i>
                      </span>
                      <span class="menu-title">Propostas
                    </a>
                  </div>
                  <div class="menu-item">
                    <div class="menu-content pb-2">
                      <span class="menu-section text-muted text-uppercase fs-8 ls-1">TCC</span>
                    </div>
                  </div>
                  {% if group.is_teacher or group.is_supervisor %}
                    <div class="menu-item">
                      <a
                        class="menu-link {% get_link_is_active request 'works:list' %}"
                        href="{% url 'works:list' %}">
                        <span class="menu-icon navbar-secondary-icon">
                          <i class="fas fa-list"></i>
                        </span>
                        <span class="menu-title">Listagem
                      </a>
                    </div>
                  {% endif %}

                  {% if group.is_teacher %}
                    <div class="menu-item">
                      <a
                        class="menu-link {% get_link_is_active request 'works:change-request-list' %}"
                        href="{% url 'works:change-request-list' %}">
                        <span class="menu-icon navbar-secondary-icon">
                          <i class="fas fa-list"></i>
                        </span>
                        <span class="menu-title">Solicitações de alteração
                      </a>
                    </div>
                  {% endif %}

                  {% if group.is_mentee %}
                    <div class="menu-item">
                      <a
                        class="menu-link {% get_link_is_active request 'works:stages' %} {% get_link_is_active request 'works:detail' %} {% get_link_is_active request 'works:development' %}"
                        href="{% url 'works:stages' 'b0b66199-fc9f-433a-844a-376705af5154' %}">
                        <span class="menu-icon navbar-secondary-icon">
                          <i class="fas fa-tasks"></i>
                        </span>
                        <span class="menu-title">Etapas
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <!-- Timetable Tab -->
            <div class="tab-pane fade {% get_primary_tab_is_active request 'timetables' %}" id="kt_aside_nav_tab_timetables" role="tabpanel">
              <div class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-6 px-6 my-5 my-lg-0" id="kt_aside_menu" data-kt-menu="true">
                <div id="kt_aside_menu_wrapper" class="menu-fit">
                  <div class="menu-item">
                    <div class="menu-content pb-2">
                      <span class="menu-section text-muted text-uppercase fs-8 ls-1">Cronograma</span>
                    </div>
                  </div>
                  {% if group.is_teacher %}
                    <div class="menu-item">
                      <a
                        class="menu-link {% get_link_is_active request 'timetables:list' %}"
                        href="{% url 'timetables:list' %}">
                        <span class="menu-icon navbar-secondary-icon">
                          <i class="fas fa-list-ul"></i>
                        </span>
                        <span class="menu-title">Listagem
                      </a>
                    </div>
                  {% endif %}
                  <div class="menu-item">
                    <a
                      class="menu-link {% get_link_is_active request 'timetables:calendar' %}"
                      href="{% url 'timetables:calendar' %}">
                      <span class="menu-icon navbar-secondary-icon">
                        <i class="fas fa-calendar"></i>
                      </span>
                      <span class="menu-title">Calendário
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% if group.is_teacher %}
              <!-- Users Tab -->
              <div class="tab-pane fade {% get_primary_tab_is_active request 'users' %}" id="kt_aside_nav_tab_users" role="tabpanel">
                <div class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-6 px-6 my-5 my-lg-0" id="kt_aside_menu" data-kt-menu="true">
                  <div id="kt_aside_menu_wrapper" class="menu-fit">
                    <div class="menu-item">
                      <div class="menu-content pb-2">
                        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Usuários</span>
                      </div>
                    </div>
                    <div class="menu-item">
                      <a
                        class="menu-link {% get_link_is_active request 'users:list' %}"
                        href="{% url 'users:list' %}">
                        <span class="menu-icon navbar-secondary-icon">
                          <i class="fas fa-list-ul"></i>
                        </span>
                        <span class="menu-title">Listagem
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <!-- Footer -->
        <div class="flex-column-auto pt-10 px-5" id="kt_aside_secondary_footer"></div>
      </div>
    </div>
  </div>

  <!-- Toggle -->
  <button class="btn btn-sm btn-icon bg-body btn-color-gray-600 btn-active-primary position-absolute translate-middle start-100 end-0 bottom-0 shadow-sm d-none d-lg-flex" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize" style="margin-bottom: 1.35rem">
    <span class="svg-icon svg-icon-2 rotate-180">
      <i class="fas fa-arrow-left"></i>
    </span>
  </button>
</div>
