{% extends 'layout.html' %}
{% load static utils meetings %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}"
    style="animation-duration: 0.3s;">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-semibold my-0 fs-2">
          Etapas
        </h1>

        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            TCC
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'works:stages' 'b0b66199-fc9f-433a-844a-376705af5154' %}" class="text-muted">
              Etapas
            </a>
          </li>
          <li class="breadcrumb-item text-dark">
            {{ object.stage.description }}
          </li>
        </ul>
      </div>

      <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
        <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
          <i class="fas fa-bars fs-2x"></i>
        </div>

        <a href="{% url 'home' %}">
          <div class="symbol symbol-40px symbol-circle">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-white" style="font-weight: bolder">TC</div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div
    id="kt_content"
    class="content d-flex flex-column flex-column-fluid">
    <div
      id="kt_content_container"
      class="container-xxl"
      data-work-stage="{{ object.id }}">
      <div class="card">
        <div class="card-header border-0 p-8 pb-4 flex-column flex-sm-row">
          <!-- Title -->
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <h1 class="mb-0">
                {{ object.stage.description }}
              </h1>
            </div>
            <div class="d-flex">
              <div class="d-flex fw-semibold fs-6 pe-2">
                <span class="text-muted fw-light">
                  {{ object.get_date_state }}
                </span>
              </div>
            </div>
          </div>

          <!-- Status badge -->
          <div class="d-flex mt-3 mt-sm-0">
            <div>
              {% if object.status == 0 %}
                <span class="badge badge-light-dark fw-bolder fs-7">Atribuído</span>
              {% elif object.status == 1 %}
                <span class="badge badge-light-warning fw-bolder fs-7">Pendente</span>
              {% elif object.status == 2 %}
                <span class="badge badge-light-primary fw-bolder fs-7">Aguardando correção</span>
              {% elif object.status == 3 %}
                <span class="badge badge-light-info fw-bolder fs-7">Corrigido</span>
              {% elif object.status == 4 %}
                <span class="badge badge-light-danger fw-bolder fs-7">Entregue com atraso</span>
              {% elif object.status == 5 %}
                <span class="badge badge-light-success fw-bolder fs-7">Entregue</span>
              {% elif object.status == 6 %}
                <span class="badge badge-light-success fw-bolder fs-7">Apresentado</span>
              {% elif object.status == 7 %}
                <span class="badge badge-light-info fw-bolder fs-7">Em alteração</span>
              {% elif object.status == 8 %}
                <span class="badge badge-light-info fw-bolder fs-7">Alterado</span>
              {% elif object.status == 9 %}
                <span class="badge badge-light-danger fw-bolder fs-7">Apresentado com atraso</span>
              {% elif object.status == 10 %}
                <span class="badge badge-light-danger fw-bolder fs-7">Atualizado com atraso</span>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="card-body pt-4 pb-2">
          <!-- Horizontal Time line -->
          <div
            class="d-none d-sm-flex flex-column mt-2"
            style="height: 50px;">
            <div class="row g-0 w-100">
              <div class="col d-flex justify-content-center">
                <div class="timeline-container start">
                  <div class="timeline-point"></div>
                  <div class="timeline-line"></div>
                  <div class="timeline-date">
                    <div class="text-muted">
                      {{ object.stage.get_start_date }}
                    </div>
                  </div>
                  <div class="timeline-event">
                    <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                      Início
                    </div>
                  </div>
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <div class="timeline-container">
                  <div class="timeline-point center"></div>
                  <div class="timeline-line"></div>
                  <div class="timeline-date">
                    <div class="text-muted">
                      {{ object.stage.get_send_date_supervisor }}
                    </div>
                  </div>
                  <div class="timeline-event">
                    <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                      Orientador
                    </div>
                  </div>
                </div>
              </div>
              {% assign_if "has_presentation_date" "object.stage.presentation_date is not None" %}
              <div class="col d-flex justify-content-center">
                <div class="timeline-container {% inline_if has_presentation_date '' 'end' %}">
                  <div class="timeline-point {% inline_if has_presentation_date 'center' 'right' %}"></div>
                  <div class="timeline-line"></div>
                  <div class="timeline-date">
                    <div class="text-muted">
                      {{ object.stage.get_send_date }}
                    </div>
                  </div>
                  <div class="timeline-event">
                    <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                      Conclusão
                    </div>
                  </div>
                </div>
              </div>
              {% if object.stage.presentation_date %}
                <div class="col d-flex justify-content-center">
                  <div class="timeline-container end">
                    <div class="timeline-point right"></div>
                    <div class="timeline-line"></div>
                    <div class="timeline-date">
                      <div class="text-muted">
                        {{ object.stage.get_presentation_date }}
                      </div>
                    </div>
                    <div class="timeline-event">
                      <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                        Apresentação
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          <!-- Vertical Time line -->
          <div class="d-flex d-sm-none flex-column mt-2 w-100 align-items-center">
            <div class="timeline-vertical-container start">
              <div class="timeline-vertical-point"></div>
              <div class="timeline-vertical-line"></div>
              <div class="timeline-vertical-event">
                <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                  Início
                </div>

                <div class="text-muted ms-2">
                  {{ object.stage.get_start_date }}
                </div>
              </div>
            </div>

            <div class="timeline-vertical-container">
              <div class="timeline-vertical-point"></div>
              <div class="timeline-vertical-line"></div>
              <div class="timeline-vertical-event">
                <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                  Orientador
                </div>

                <div class="text-muted ms-2">
                  {{ object.stage.get_send_date_supervisor }}
                </div>
              </div>
            </div>

            {% assign_if "has_presentation_date" "object.stage.presentation_date is not None" %}
            <div class="timeline-vertical-container {% inline_if has_presentation_date '' 'end' %}">
              <div class="timeline-vertical-point"></div>
              <div class="timeline-vertical-line"></div>
              <div class="timeline-vertical-event">
                <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                  Conclusão
                </div>

                <div class="text-muted ms-2">
                  {{ object.stage.get_send_date }}
                </div>
              </div>
            </div>

            {% if object.stage.presentation_date %}
              <div class="timeline-vertical-container end">
                <div class="timeline-vertical-point"></div>
                <div class="timeline-vertical-line"></div>
                <div class="timeline-vertical-event">
                  <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                    Apresentação
                  </div>

                  <div class="text-muted ms-2">
                    {{ object.stage.get_presentation_date }}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>

          <!-- Documents examples -->
          <div class="mt-10 mt-sm-2">
            {% if object.stage.stage_examples.all|length == 0 %}
              <div>
                <h3 class="mb-0">Sem modelos de exemplo</h3>
              </div>
            {% else %}
              <div>
                <h3>Modelo(s) de exemplo</h3>
              </div>
            {% endif %}

            {% for example in object.stage.stage_examples.all %}
              <div class="d-flex flex-column flex-sm-row">
                <a href="{{ example.file.url }}" blank="true">
                  <div
                    class="cursor-pointer bg-light-primary border rounded border-primary border-dashed w-100 w-sm-150px h-150px d-flex justify-content-center align-items-center">
                    <div class="d-flex">
                      <i class="far fa-file-pdf fa-fw fa-3x text-primary"></i>
                      <div class="d-flex flex-column justify-content-center">
                        <div class="text-dark fw-bold fs-7">
                          {{ example.get_file_extension }}
                        </div>
                        <div class="text-dark fw-bold fs-8">
                          {{ example.get_file_size }}MB
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="ms-0 mt-2 ms-sm-2 mt-sm-0">
                  <p class="fw-bold fs-7 text-dark mb-0">
                    Nome:
                    <span class="fw-light">
                      {{ example.get_file_name }}
                    </span>
                  </p>
                  <p class="fw-bold fs-7 text-dark mb-0">
                    Tamanho:
                    <span class="fw-light">
                      {{ example.get_file_size }}MB
                    </span>
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="card-footer pt-2 border-0 d-flex flex-wrap justify-content-start">
          <!-- Development button -->
          {% if object.get_last_version is not None %}
            <a
              href="{% url 'works:development' object.get_last_version.id %}"
              class="btn btn-sm btn-primary me-0 me-sm-2 mb-2 w-100 w-sm-auto">
              Desenvolvimento
            </a>
          {% else %}
            <form method="POST" action="{% url 'works:development-create' %}" class="w-100 w-sm-auto">
              {% csrf_token %}
              <input type="hidden" name="work_stage" value="{{ object.id }}">
              <button type="submit" class="btn btn-sm btn-primary me-0 me-sm-2 mb-2 w-100 w-sm-auto">
                Desenvolvimento
              </button>
            </form>
          {% endif %}

          <!-- Mentee -->
          {% if user_group.is_mentee %}
            {% if object.status == 0 or object.status == 1 or object.status == 2 or object.status == 3 %}
              <!-- Complete activity -->
              <button
                id="tcc_complete_button"
                class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto">
                Concluir a atividade
              </button>

              <!-- Request meeting -->
              <button
                id="tcc_request_meeting_request_button"
                class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto">
                Solicitar reunião
              </button>
            {% endif %}

            {% if object.status == 0 or object.status == 1 %}
              <!-- Request supervisor review -->
              <button
                id="tcc_request_review_button"
                class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto">
                Solicitar correção
              </button>
            {% endif %}

            {% if object.status == 4 or object.status == 5 or object.status == 6 or object.status == 8 or object.status == 9 or object.status == 10 %}
              {% if change_already_requested %}
                <!-- Request change (Pending) -->
                <div
                  class="w-100 w-sm-auto"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Já existe uma solicitação pendente.">
                  <button
                    id="tcc_change_request_button"
                    class="btn btn-sm btn-light me-0 me-sm-2 mb-2 disabled w-100 w-sm-auto"
                    disabled>
                    Solicitar alteração
                  </button>
                </div>
              {% else %}
                {% if last_change_request is not None and last_change_request.approved == True %}
                  <!-- Request change (Again - Approved) -->
                  <div class="w-100 w-sm-auto">
                    <button
                      id="tcc_change_request_button"
                      class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="A sua última solicitação foi aprovada.">
                      Solicitar novamente uma alteração
                    </button>
                  </div>
                {% elif last_change_request is not None and last_change_request.approved == False %}
                  <!-- Request change (Again - Disapproved) -->
                  <div class="w-100 w-sm-auto">
                    <button
                      id="tcc_change_request_button"
                      class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="A sua última solicitação foi reprovada.">
                      Solicitar novamente uma alteração
                    </button>
                  </div>
                {% else %}
                  <!-- Request change -->
                  <button
                    id="tcc_change_request_button"
                    class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto">
                    Solicitar alteração
                  </button>
                {% endif %}
              {% endif %}
            {% endif %}

            {% if object.status == 7 %}
              <!-- Request change (Confirmed) -->
              <div class="w-100 w-sm-auto">
                <button
                  id="tcc_change_request_button"
                  class="btn btn-sm btn-light me-0 me-sm-2 mb-2 disabled w-100 w-sm-auto"
                  disabled
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="A solicitação de alteração foi aprovada. Altere o documento.">
                  Solicitar alteração
                </button>
              </div>
            {% endif %}
          {% endif %}

          <!-- Supervisor -->
          {% if user_group.is_supervisor %}
            {% if object.status == 0 or object.status == 1 or object.status == 2 %}
              <!-- Mark reviewed -->
              <button
                id="tcc_mark_reviewed_button"
                class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto">
                Marcar como corrigido
              </button>
            {% endif %}
          {% endif %}

          <!-- Teacher -->
          {% if user_group.is_teacher %}
            {% if object.status == 0 or object.status == 1 or object.status == 2 or object.status == 3 %}
              <!-- Mark completed -->
              <button
                id="tcc_mark_completed_button"
                class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto">
                Marcar como concluído
              </button>
            {% endif %}

            {% if object.status != 6 and object.status != 9 %}
              <!-- Mark presented -->
              <button
                id="tcc_mark_presented_button"
                class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto">
                Marcar como apresentado
              </button>
            {% endif %}
          {% endif %}

          <!-- Stage button -->
          <a
            href="{% url 'works:stages' object.final_work.id %}"
            class="btn btn-sm btn-light me-0 me-sm-2 mb-2 w-100 w-sm-auto">
            Etapas
          </a>
        </div>
      </div>

      <!-- Meetings requested -->
      <div class="card mt-8">
        <div class="card-header border-0 p-8 pb-4">
          <h2 class="mb-0">
            Reuniões solicitadas
          </h2>
        </div>

        <div
          class="card-body pt-4"
          data-supervisor="{% if user_group.is_supervisor %}true{% else %}false{% endif %}"
          id="tcc_request_meetings_container">
          {% if meetings|length == 0 %}
            <div class="p-4 border rounded">
              <div>
                <p class="mb-0">
                  Sem reuniões
                </p>
              </div>
            </div>
          {% endif %}

          {% for meeting in meetings %}
            <div class="p-4 border rounded mt-2 tcc_requested_meeting_item" data-meeting="{{ meeting.id }}">
              <div class="d-flex flex-wrap flex-column flex-sm-row justify-content-between text-gray-500">
                <div class="d-flex flex-column flex-sm-row flex-wrap mb-0 mb-sm-2">
                  {% for participant in meeting.meeting_approved.all %}
                    <div class="me-8 mb-2 mb-sm-0 d-flex flex-row align-items-center">
                      <h5 class="mb-0">
                        {{ participant.user.get_full_name }}
                      </h5>

                      {% if participant.approved == True %}
                        <i
                          class="fas fa-check-circle fa-fw fs-4 text-success ms-2"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Aprovado"></i>
                      {% elif participant.approved == False %}
                        <i
                          class="fas fa-times-circle fa-fw fs-4 text-danger ms-2"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Reprovado"></i>
                      {% else %}
                        <i
                          class="fas fa-minus-circle fa-fw fs-4 text-dark-light ms-2"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Pendente"></i>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>

                <div class="mb-2">
                  <span class="me-2">
                    {{ meeting.get_meeting_date }}
                  </span>

                  {% if meeting.get_is_approved == True %}
                    <span class="badge badge-sm badge-light-success">
                      Aprovado
                    </span>
                  {% elif meeting.get_is_approved == False %}
                    <span class="badge badge-sm badge-light-danger">
                      Reprovado
                    </span>
                  {% else %}
                    <span class="badge badge-sm badge-light">
                      Pendente
                    </span>
                  {% endif %}
                </div>
              </div>

              <div>
                <p class="mb-0">
                  {{ meeting.description }}
                </p>
              </div>

              {% review_meeting_required meeting request.user as required_review %}

              {% if required_review %}
                <div class="mt-2 d-flex flex-column flex-sm-row justify-content-end">
                  <button
                    type="button"
                    class="btn btn-sm btn-light me-2 tcc_meeting_requested_disapprove w-100 w-sm-auto">
                    Recusar
                  </button>

                  <button
                    type="button"
                    class="btn btn-sm btn-primary tcc_meeting_requested_approve w-100 w-sm-auto mt-2 mt-sm-0">
                    Aprovar
                  </button>
                </div>
              {% endif %}

              {% if meeting.get_is_approved %}
                {% if user_group.is_supervisor %}
                  <div>
                    <form class="tcc_meeting_supervisor_form_{{ meeting.id }}">
                      <div class="fv-row mt-4 mb-8">
                        <label for="developed_activities_{{ meeting.id }}" class="required form-label">
                          Atividades desenvolvidas
                        </label>

                        <textarea
                          id="tcc_developed_activities_{{ meeting.id }}"
                          class="form-control form-control-solid tcc_developed_activities_field_{{ meeting.id }}"
                          name="developed_activities_{{ meeting.id }}"
                          cols="30"
                          rows="10"
                          minlength="3"
                          maxlength="255">{{ meeting.developed_activities }}</textarea>
                      </div>

                      <div class="fv-row mb-8">
                        <label for="instructions_{{ meeting.id }}" class="required form-label">
                          Instruções
                        </label>

                        <textarea
                          id="tcc_instructions_{{ meeting.id }}"
                          class="form-control form-control-solid tcc_instructions_field_{{ meeting.id }}"
                          name="instructions_{{ meeting.id }}"
                          cols="30"
                          rows="10"
                          minlength="3"
                          maxlength="255">{{ meeting.instructions }}</textarea>
                      </div>

                      <div class="d-flex mt-4 justify-content-end">
                        <button class="btn btn-sm btn-primary w-100 w-sm-auto tcc_meeting_supervisor_confirm_{{ meeting.id }}">
                          Salvar
                        </button>
                      </div>
                    </form>
                  </div>
                {% else %}
                  <div>
                    <div class="fv-row mt-4 mb-8">
                      <label class="required form-label">
                        Atividades desenvolvidas
                      </label>

                      <textarea
                        class="form-control form-control-solid disabled"
                        cols="30"
                        rows="10"
                        minlength="3"
                        maxlength="255"
                        disabled>{{ meeting.developed_activities }}</textarea>
                    </div>

                    <div class="fv-row">
                      <label class="required form-label">
                        Instruções
                      </label>

                      <textarea
                        class="form-control form-control-solid disabled"
                        cols="30"
                        rows="10"
                        minlength="3"
                        maxlength="255"
                        disabled>{{ meeting.instructions }}</textarea>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Comments -->
      <div class="card mt-8">
        <div class="card-header border-0 p-8 pb-4">
          <h2 class="mb-0">
            Comentários
          </h2>
        </div>

        <div class="card-body pt-4" id="tcc_comments_container">
          {% if object.stage_comment.all|length == 0 %}
            <div class="p-4 border rounded">
              <div>
                <p class="mb-0">
                  Sem comentários
                </p>
              </div>
            </div>
          {% endif %}

          {% for comment in comments %}
            <div class="p-4 border rounded mt-2">
              <div class="d-flex flex-column flex-sm-row justify-content-between text-gray-500">
                <h5 class="mb-0">
                  {{ comment.author }}
                </h5>
                <span>
                  {{ comment.get_created_at }}
                </span>
              </div>
              <div class="mt-2">
                <p class="mb-0">
                  {{ comment.description }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="card mt-8">
        <form id="tcc_comment_form">
          <div class="card-header border-0 p-8 pb-4">
            <h2 class="mb-0">
              Adicionar comentário
            </h2>
          </div>
          <div class="card-body py-4">
            {% csrf_token %}
            <div class="fv-row">
              <label for="comment" class="required form-label">Comentário</label>
              <textarea
                name="comment"
                id="tcc_comment_textarea"
                cols="30"
                rows="10"
                minlength="3"
                maxlength="255"
                class="form-control form-control-solid"></textarea>
            </div>
          </div>
          <div class="card-footer pt-4 d-flex justify-content-end">
            <button
              type="submit"
              id="tcc_add_comment"
              class="btn btn-primary">
              Comentar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="tcc_request_meeting_modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form id="tcc_request_meeting_form">
          <div class="modal-header">
            <h5 class="modal-title">Solicitar reunião</h5>

            <div
              id="tcc_request_meeting_modal_close"
              class="btn btn-icon btn-sm btn-active-light-primary ms-2"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i class="fas fa-times"></i>
            </div>
          </div>

          <div class="modal-body p-8">
            <div class="fv-row mb-8">
              <label for="name" class="required form-label">Descrição</label>
              <textarea
                required
                name="description"
                id="tcc_meeting_description"
                cols="30"
                rows="10"
                minlength="3"
                maxlength="255"
                class="form-control form-control-solid"></textarea>
            </div>

            <div class="fv-row mb-8">
              <label for="name" class="required form-label">Data</label>
              <input
                class="form-control form-control-solid"
                name="meeting_date"
                placeholder="dd/mm/aaaa hh:mm"
                id="tcc_meeting_datetime"
                autocomplete="off"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button id="tcc_request_meeting_modal_cancel" type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
            <button id="tcc_request_meeting_modal_confirm" type="submit" class="btn btn-primary">Solicitar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="tcc_change_request_modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Solicitar uma alteração?</h5>

          <div
            id="tcc_change_request_modal_close"
            class="btn btn-icon btn-sm btn-active-light-primary ms-2"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="fas fa-times"></i>
          </div>
        </div>

        <div class="modal-body p-8">
          <div class="fv-row mb-8">
            <label for="name" class="required form-label">Descrição</label>
            <textarea
              name="description"
              id="tcc_change_description"
              cols="30"
              rows="10"
              class="form-control form-control-solid"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button id="tcc_change_request_modal_cancel" type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
          <button id="tcc_change_request_modal_confirm" type="button" class="btn btn-primary">Solicitar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="tcc_form_messages" class="d-none">
    {% if messages %}
      {% for message in messages %}
        <div data-mode="{{ message.tags }}">{{ message|safe }}</div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}

{% block js-vendors %}
  <script src="{% static 'vendor/jquery.validate.js/jquery.validate.min.js' %}"></script>
{% endblock %}

{% block js-scripts %}
  <script src="{% static 'js/final-work-stages/detail.js' %}"></script>
  <script>
    $('#tcc_form_messages').find('div').each(function() {
      const text = $(this).text();
      const mode = $(this).data('mode');
      Toast.fire({
        icon: mode,
        title: text,
      });
    });
  </script>
{% endblock %}

{% block inline-css-styles %}
  <style>
    .timeline-vertical-container {
      width: 100%;
      height: 60px;
      position: relative;
      display: flex;
      flex-direction: row;
    }

    .timeline-vertical-line {
      width: 1px;
      height: 100%;
      background-color: #A1A5B7;
    }

    .timeline-vertical-point {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid #A1A5B7;
      background-color: white;
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .timeline-vertical-event {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
    }

    .timeline-vertical-container.start,
    .timeline-vertical-container.end {
      height: 30px;
    }

    .timeline-vertical-container.start .timeline-vertical-event {
      top: 0%;
      transform: translateY(-50%);
    }

    .timeline-vertical-container.end .timeline-vertical-event {
      top: 100%;
      transform: translateY(-50%);
    }

    .timeline-vertical-container.start .timeline-vertical-point {
      top: 0%;
    }

    .timeline-vertical-container.end .timeline-vertical-point {
      top: 100%;
    }

    .timeline-container {
      width: 100%;
      position: relative;
    }

    .timeline-container .timeline-line {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .timeline-container .timeline-point {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .timeline-line {
      height: 1px;
      width: 100%;
      background-color: #A1A5B7;
    }

    .timeline-point {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid #A1A5B7;
      background-color: white;
      z-index: 2;
    }

    .timeline-point.center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .timeline-point.right {
      left: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .timeline-date {
      position: absolute;
      top: calc(-100% + -25px);
      left: 50%;
      transform: translateX(-50%);
    }

    .timeline-event {
      position: absolute;
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
    }

    .timeline-container.start .timeline-date {
      left: 0%;
      transform: none;
    }
    .timeline-container.start .timeline-event {
      left: 0%;
      transform: none;
    }

    .timeline-container.end .timeline-date {
      left: 100%;
      transform: translateX(-100%);
    }
    .timeline-container.end .timeline-event {
      left: 100%;
      transform: translateX(-100%);
    }

    .w-150px {
      width: 150px;
    }

    .h-150px {
      height: 150px;
    }
  </style>
{% endblock %}
