{% extends 'layout.html' %}
{% load static %}

{% block header %}
  <div
  id="kt_header"
  class="header"
  data-kt-sticky="true"
  data-kt-sticky-name="header"
  data-kt-sticky-offset="{default: '200px', lg: '300px'}">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <!-- Page Title -->
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-bold my-0 fs-2">Etapas</h1>
        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item">
            TCC
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'works:stages' %}" class="text-muted">
              Etapas
            </a>
          </li>
          <li class="breadcrumb-item text-dark">
            DER
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <div class="card">
        <div class="card-header border-0 p-8 pb-4">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <h1 class="mb-0">
                DER - Diagrama Entidade-Relacionamento
              </h1>
            </div>
            <div class="d-flex">
              <div class="d-flex fw-semibold fs-6 pe-2">
                <span class="text-muted fw-light">
                  Etapa atual
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div>
              <span class="badge badge-light-dark fw-bolder fs-7">Atribuído</span>
            </div>
          </div>
        </div>
        <div class="card-body pt-4 pb-2">
          <div class="d-flex flex-column mt-2" style="height: 50px;">
            <div class="row g-0 w-100">
              <div class="col d-flex justify-content-center">
                <div class="timeline-container start">
                  <div class="timeline-point"></div>
                  <div class="timeline-line"></div>
                  <div class="timeline-date">
                    <div class="text-muted">
                      20/10/2023
                    </div>
                  </div>
                  <div class="timeline-event">
                    <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                      Início
                    </div>
                  </div>
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <div class="timeline-container">
                  <div class="timeline-point center"></div>
                  <div class="timeline-line"></div>
                  <div class="timeline-date">
                    <div class="text-muted">
                      22/10/2023
                    </div>
                  </div>
                  <div class="timeline-event">
                    <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                      Orientador
                    </div>
                  </div>
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <div class="timeline-container">
                  <div class="timeline-point center"></div>
                  <div class="timeline-line"></div>
                  <div class="timeline-date">
                    <div class="text-muted">
                      25/10/2023
                    </div>
                  </div>
                  <div class="timeline-event">
                    <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                      Conclusão
                    </div>
                  </div>
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <div class="timeline-container end">
                  <div class="timeline-point right"></div>
                  <div class="timeline-line"></div>
                  <div class="timeline-date">
                    <div class="text-muted">
                      27/10/2023
                    </div>
                  </div>
                  <div class="timeline-event">
                    <div class="bg-light p-2 border border-gray-300 rounded text-dark">
                      Apresentação
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-2">
            <div>
              <h3>Modelo de exemplo</h3>
            </div>
            <div class="d-flex">
              <div class="cursor-pointer bg-light-primary border rounded border-primary border-dashed w-150px h-150px d-flex justify-content-center align-items-center">
                <div class="d-flex">
                  <i class="far fa-file-pdf fa-fw fa-3x text-primary"></i>
                  <div class="d-flex flex-column justify-content-center">
                    <div class="text-dark fw-bold fs-7">
                      pdf
                    </div>
                    <div class="text-dark fw-bold fs-8">
                      10mb
                    </div>
                  </div>
                </div>
              </div>
              <div class="ms-2">
                <p class="fw-bold fs-7 text-dark mb-0">
                  Nome:
                  <span class="fw-light">
                    Modelo de Diagrama Entidade-Relacionamento.pdf
                  </span>
                </p>
                <p class="fw-bold fs-7 text-dark">
                  Tamanho:
                  <span class="fw-light">
                    10mb
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer pt-2 border-0 d-flex justify-content-start">
          <a
            href="{% url 'works:development' '5d5cfcdb-b200-4418-aced-9dd8e5b7f7a1' %}"
            class="btn btn-primary">
            Desenvolvimento
          </a>
          <button class="btn btn-secondary ms-2">Solicitar correção</button>
          <button class="btn btn-secondary ms-2">Solicitar reunião</button>
          <a
            href="{% url 'works:stages' %}"
            class="btn btn-secondary ms-2">
            Etapas
          </a>
        </div>
      </div>

      <div class="card mt-8">
        <div class="card-header border-0 p-8 pb-4">
          <h2 class="mb-0">
            Comentários
          </h2>
        </div>
        <div class="card-body pt-4">
          <div class="p-4 border rounded">
            <div class="d-flex justify-content-between text-gray-500">
              <h5 class="mb-0">
                Felipe Perez
              </h5>
              <span>
                21/10/2023 às 10:47
              </span>
            </div>
            <div class="mt-2">
              <p class="mb-0">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate nobis ipsam dolorum libero veritatis omnis necessitatibus molestiae, dolor ratione accusamus repellat qui quidem quam explicabo deleniti distinctio optio iure quo?
              </p>
            </div>
          </div>
          <div class="p-4 border rounded mt-2">
            <div class="d-flex justify-content-between text-gray-500">
              <h5 class="mb-0">
                Lucas Braga
              </h5>
              <span>
                20/10/2023 às 10:47
              </span>
            </div>
            <div class="mt-2">
              <p class="mb-0">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate nobis ipsam dolorum libero veritatis omnis necessitatibus molestiae, dolor ratione accusamus repellat qui quidem quam explicabo deleniti distinctio optio iure quo?
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-8">
        <div class="card-header border-0 p-8 pb-4">
          <h2 class="mb-0">
            Adicionar comentário
          </h2>
        </div>
        <div class="card-body py-4">
          <form>
            <div class="fv-row">
              <label for="comment" class="required form-label">Comentário</label>
              <textarea name="comment" id="comment" cols="30" rows="10" class="form-control form-control-solid"></textarea>
            </div>
          </form>
        </div>
        <div class="card-footer pt-4 d-flex justify-content-end">
          <button class="btn btn-primary">Comentar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block css-styles %}
  <style>
    .timeline-container {
      width: 100%;
      position: relative;
    }

    .timeline-container .timeline-line {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .timeline-container .timeline-point {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .timeline-line {
      height: 1px;
      width: 100%;
      background-color: #A1A5B7;
    }

    .timeline-point {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid #A1A5B7;
      background-color: white;
      z-index: 2;
    }

    .timeline-point.center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .timeline-point.right {
      left: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .timeline-date {
      position: absolute;
      top: calc(-100% + -25px);
      left: 50%;
      transform: translateX(-50%);
    }

    .timeline-event {
      position: absolute;
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
    }

    .timeline-container.start .timeline-date{
      left: 0%;
      transform: none;
    }
    .timeline-container.start .timeline-event{
      left: 0%;
      transform: none;
    }

    .timeline-container.end .timeline-date{
      left: 100%;
      transform: translateX(-100%);
    }
    .timeline-container.end .timeline-event{
      left: 100%;
      transform: translateX(-100%);
    }

    .w-150px {
      width: 150px;
    }

    .h-150px {
      height: 150px;
    }
  </style>
{% endblock %}
