{% extends 'layout.html' %}
{% load static %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}"
    style="animation-duration: 0.3s;">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-semibold my-0 fs-2">
          Etapas
        </h1>

        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            TCC
          </li>
          <li class="breadcrumb-item text-dark">
            Etapas
          </li>
        </ul>
      </div>

      <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
        <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
          <i class="fas fa-bars fs-2x"></i>
        </div>

        <a href="{% url 'home' %}">
          <div class="symbol symbol-40px symbol-circle">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-white" style="font-weight: bolder">TC</div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <div class="card">
        <div class="card-header border-0 p-8 pb-4">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <h1 class="mb-0">
                {{ object.description }}
              </h1>
              {% if object.approved %}
                <i
                  class="fas fa-check-circle fa-fw fs-2 text-primary ms-3"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Aprovado"></i>
              {% else %}
                <i
                  class="fas fa-times-circle fa-fw fs-2 text-danger ms-3"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Reprovado"></i>
              {% endif %}

              {% with last_stage=object.work_stage.first %}
                {% if last_stage and last_stage.status < 3 %}
                  <span class="badge badge-light fw-bolder ms-2 fs-8 py-1 px-3">
                    Pendente
                  </span>
                {% else %}
                  <span class="badge badge-light-success fw-bolder ms-2 fs-8 py-1 px-3">
                    Completo
                  </span>
                {% endif %}
              {% endwith %}
            </div>
            <div class="d-flex flex-column flex-sm-row flex-wrap">
              <div class="d-flex flex-column flex-sm-row fw-semibold fs-6 pe-2 me-2">
                <div class="d-flex align-items-center me-3 mb-2">
                  <i class="fas fa-user-tie text-gray-400 fa-fw"></i>
                  <span class="ms-1 text-gray-400">Orientador:</span>
                </div>
                <span class="text-gray-700 fw-bold">
                  {{ object.supervisor.get_full_name }}
                </span>
              </div>
              <div class="d-flex flex-column flex-sm-row fw-semibold fs-6 mt-3 mt-sm-0">
                <div class="d-flex align-items-center me-3 mb-2">
                  <i class="fas fa-user-graduate text-gray-400 fa-fw"></i>
                  <span class="ms-1 text-gray-400">Orientado(s):</span>
                </div>
                <span class="text-gray-700 fw-bold">
                  {{ object.get_mentees }}
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center w-100 w-sm-auto mt-2 mt-sm-0">
            <button type="button" class="btn btn-sm btn-primary btn-icon-white btn-text-white w-100">
              <span class="svg-icon svg-icon-1">
                <i class="fas fa-file-contract fs-5"></i>
              </span>
              Orientação
            </button>
          </div>
        </div>
        <div class="card-body pt-4">
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <h2 class="mb-0">
              Etapas
            </h2>

            <button type="button" class="btn btn-sm btn-light w-100 w-sm-auto mt-2 mt-sm-0">
              <span class="svg-icon svg-icon-1">
                <i class="fas fa-file-pdf fs-4"></i>
              </span>
              Documento
            </button>
          </div>
          <div class="mt-2 mt-sm-5">
            <div class="d-flex flex-column">
              {% for work_stage in work_stages %}
                <a
                  href="{% url 'works:detail' work_stage.id %}"
                  class="border border-gray-300 rounded p-2 mt-3">
                  <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between p-4">
                    <h3 class="fs-7 fw-light text-gray-700 mb-0">
                      {{ work_stage.stage.description }}
                    </h3>

                    {% if work_stage.status == 0 %}
                      <span class="badge badge-light-dark">Atribuído</span>
                    {% elif work_stage.status == 1 %}
                      <span class="badge badge-light-warning">Pendente</span>
                    {% elif work_stage.status == 2 %}
                      <span class="badge badge-light-primary">Aguardando correção</span>
                    {% elif work_stage.status == 3 %}
                      <span class="badge badge-light-info">Corrigido</span>
                    {% elif work_stage.status == 4 %}
                      <span class="badge badge-light-danger">Entregue com atraso</span>
                    {% elif work_stage.status == 5 %}
                      <span class="badge badge-light-success">Entregue</span>
                    {% elif work_stage.status == 6 %}
                      <span class="badge badge-light-success fw-bolder fs-7">Apresentado</span>
                    {% elif work_stage.status == 7 %}
                      <span class="badge badge-light-info fw-bolder fs-7">Em alteração</span>
                    {% elif work_stage.status == 8 %}
                      <span class="badge badge-light-info fw-bolder fs-7">Alterado</span>
                    {% endif %}
                  </div>
                </a>
              {% endfor %}

              {% if object.work_stage.all|length == 0 %}
                <div class="border border-gray-300 rounded p-2">
                  <div class="d-flex align-items-center justify-content-between p-4">
                    <h3 class="fs-7 fw-light text-gray-700 mb-0 py-1">
                      Sem etapas
                    </h3>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="d-flex flex-wrap justify-content-between align-items-center pt-5 pt-sm-8">
            <h2 class="mb-0">
              Reuniões aprovadas
            </h2>

            <button type="button" class="btn btn-sm btn-light w-100 w-sm-auto mt-2 mt-sm-0">
              <span class="svg-icon svg-icon-1">
                <i class="fas fa-users-cog fs-4"></i>
              </span>
              Ata de acompanhamento
            </button>
          </div>

          <div class="mt-5 mt-sm-8">
            <div class="d-flex flex-column">
              {% for meeting in meetings %}
                {% if meeting.get_is_approved %}
                  <a class="border border-gray-300 rounded p-2 mt-3">
                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between p-4">
                      <h3 class="fs-7 fw-light text-gray-700 mb-0">
                        {{ meeting.description }}
                      </h3>

                      <span class="fw-light fs-7 text-gray-400">
                        {{ meeting.get_meeting_date }}
                      </span>
                    </div>
                  </a>
                {% endif %}
              {% endfor %}

              {% if meetings|length == 0 %}
                <div class="border border-gray-300 rounded p-2">
                  <div class="d-flex align-items-center justify-content-between p-4">
                    <h3 class="fs-7 fw-light text-gray-700 mb-0 py-1">
                      Sem reuniões
                    </h3>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
