{% extends 'layout.html' %}
{% load static files %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}"
    style="animation-duration: 0.3s;">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-semibold my-0 fs-2">
          Etapas
        </h1>

        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            TCC
          </li>
          <li class="breadcrumb-item text-dark">
            Etapas
          </li>
        </ul>
      </div>

      <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
        <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
          <i class="fas fa-bars fs-2x"></i>
        </div>

        <a href="{% url 'home' %}">
          <div class="symbol symbol-40px symbol-circle">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-white" style="font-weight: bolder">TC</div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <div class="card">
        <div class="card-header border-0 p-8 pb-4">
          <div class="d-flex flex-column">
            <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center mb-2 flex-wrap gap-1">
              <h1
                id="tcc_title"
                class="mb-0 text-hover-primary cursor-pointer text-select-none"
                data-bs-toggle="collapse"
                href="#tcc_update_title_container"
                role="button"
                aria-expanded="false"
                aria-controls="tcc_update_title_container">
                {{ object.title }}
              </h1>

              <div class="d-flex">
                {% if object.approved is None and object.archived is False %}
                  <div class="d-flex align-items-center">
                    <i
                    class="fas fa-spinner fa-fw fs-2 text-warning ms-0 ms-sm-3"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Proposta pendente"></i>

                    <span class="d-inline-block d-sm-none ms-2 text-warning">
                      Proposta pendente
                    </span>
                  </div>
                {% elif object.approved %}
                  <div class="d-flex align-items-center">
                    <i
                      class="fas fa-check-circle fa-fw fs-2 text-primary ms-0 ms-sm-3"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="Orientação aprovada"></i>

                    <span class="d-inline-block d-sm-none ms-2 text-primary">
                      Orientação aprovada
                    </span>
                  </div>
                {% else %}
                  <div class="d-flex align-items-center">
                    <i
                      class="fas fa-times-circle fa-fw fs-2 text-danger ms-0 ms-sm-3"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="Orientação reprovada"></i>

                    <span class="d-inline-block d-sm-none ms-2 text-danger">
                      Orientação reprovada
                    </span>
                  </div>
                {% endif %}
              </div>

              {% if object.achived %}
                <span class="badge badge-danger fw-bolder ms-0 ms-sm-2 fs-8 py-1 px-3">
                  Arquivado
                </span>
              {% elif object.completed %}
                <span class="badge badge-success fw-bolder ms-0 ms-sm-2 fs-8 py-1 px-3">
                  Completado
                </span>
              {% else %}
                <span class="badge badge-light fw-bolder ms-0 ms-sm-2 fs-8 py-1 px-3">
                  Em desenvolvimento
                </span>
              {% endif %}
            </div>

            <div class="d-flex flex-column flex-sm-row flex-wrap my-5 my-sm-0">
              <div class="d-flex flex-column flex-sm-row fw-semibold fs-6 pe-2 me-2">
                <div class="d-flex align-items-center me-3 mb-2">
                  <i class="fas fa-user-tie text-gray-400 fa-fw"></i>
                  <span class="ms-1 text-gray-400">Orientador:</span>
                </div>
                <span class="text-gray-700 fw-bold">
                  {{ object.supervisor.get_full_name }}
                </span>
              </div>
              <div class="d-flex flex-column flex-sm-row fw-semibold fs-6 mt-3 mt-sm-0">
                <div class="d-flex align-items-center me-3 mb-2">
                  <i class="fas fa-user-graduate text-gray-400 fa-fw"></i>
                  <span class="ms-1 text-gray-400">Orientado(s):</span>
                </div>
                <span class="text-gray-700 fw-bold">
                  {{ object.get_mentees }}
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column flex-sm-row align-items-center w-100 w-sm-auto mt-2 mt-sm-0 gap-3">
            <div
              class="w-100 w-sm-auto rounded px-4 py-3 bg-light d-flex align-items-center justify-content-center">
              <i class="fas fa-star text-primary fs-5"></i>

              <span class="fw-bold fs-7 mx-2 text-primary">
                Avaliação:
              </span>

              <span id="tcc_short_grading_score" class="fw-bolder fs-7 text-primary">
                {{ object.grading_score }}
              </span>
            </div>

            {% if object.able_to_present is True %}
              <div
                id="tcc_short_able_to_present_container"
                class="w-100 w-sm-auto rounded px-4 py-3 bg-light d-flex align-items-center justify-content-center">
                <i class="fas fa-chalkboard-teacher text-primary fs-5"></i>

                <span class="fw-bold fs-7 mx-2 text-primary">
                  Apresentação:
                </span>

                <span
                  id="tcc_short_able_to_present"
                  class="fw-bolder fs-7 text-primary">
                  Apto
                </span>
              </div>
            {% elif object.able_to_present is False %}
              <div
                id="tcc_short_able_to_present_container"
                class="w-100 w-sm-auto rounded px-4 py-3 bg-light d-flex align-items-center justify-content-center">
                <i class="fas fa-chalkboard-teacher text-primary fs-5"></i>

                <span class="fw-bold fs-7 mx-2 text-primary">
                  Apresentação:
                </span>

                <span
                  id="tcc_short_able_to_present"
                  class="fw-bolder fs-7 text-primary">
                  Inapto
                </span>
              </div>
            {% else %}
              <div
                id="tcc_short_able_to_present_container"
                class="w-100 w-sm-auto rounded px-4 py-3 bg-light d-flex align-items-center justify-content-center">
                <i class="fas fa-chalkboard-teacher text-primary fs-5"></i>

                <span class="fw-bold fs-7 mx-2 text-primary">
                  Apresentação:
                </span>

                <span
                  id="tcc_short_able_to_present"
                  class="fw-bolder fs-7 text-primary">
                  --
                </span>
              </div>
            {% endif %}
          </div>
        </div>

        <div id="tcc_update_title_container" class="collapse" data-tcc="{{ object.id }}">
          <div class="card-body py-4">
            <form id="tcc_update_title_form">
              <div class="w-100">
                <div>
                  <label for="title" class="form-label">Atualize o título do TCC</label>
                </div>

                <div class="w-100 d-flex">
                  <div class="flex-grow">
                    <input
                      id="id_title"
                      name="title"
                      class="form-control form-control-solid"
                      value="{{ object.title }}"
                      minlength="3"
                      maxlength="128"
                    />
                  </div>

                  <div class="w-auto ms-3">
                    <button id="tcc_update_title_save" type="submit" class="btn btn-primary">
                      Salvar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card-body pt-4">
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <h2 class="mb-0">
              Etapas
            </h2>
          </div>

          <div class="mt-2 mt-sm-5">
            <div class="d-flex flex-column">
              {% for work_stage in work_stages %}
                <a
                  href="{% url 'works:detail' work_stage.id %}"
                  class="border border-gray-300 rounded p-2 mt-3">
                  <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between p-4">
                    <h3 class="fs-7 fw-light text-gray-700 mb-0">
                      {{ work_stage.stage.description }}
                    </h3>

                    {% if work_stage.status == 0 %}
                      <span class="badge badge-light-dark">Atribuído</span>
                    {% elif work_stage.status == 1 %}
                      <span class="badge badge-light-warning">Pendente</span>
                    {% elif work_stage.status == 2 %}
                      <span class="badge badge-light-primary">Aguardando correção</span>
                    {% elif work_stage.status == 3 %}
                      <span class="badge badge-light-info">Corrigido</span>
                    {% elif work_stage.status == 4 %}
                      <span class="badge badge-light-danger">Entregue com atraso</span>
                    {% elif work_stage.status == 5 %}
                      <span class="badge badge-light-success">Entregue</span>
                    {% elif work_stage.status == 6 %}
                      <span class="badge badge-light-success">Apresentado</span>
                    {% elif work_stage.status == 7 %}
                      <span class="badge badge-light-info">Em alteração</span>
                    {% elif work_stage.status == 8 %}
                      <span class="badge badge-light-info">Alterado</span>
                    {% elif work_stage.status == 9 %}
                      <span class="badge badge-light-danger">Apresentado com atraso</span>
                    {% elif work_stage.status == 10 %}
                      <span class="badge badge-light-danger">Atualizado com atraso</span>
                    {% endif %}
                  </div>
                </a>
              {% endfor %}

              {% if object.work_stage.all|length == 0 %}
                <div class="border border-gray-300 rounded p-2">
                  <div class="d-flex align-items-center justify-content-between p-4">
                    <h3 class="fs-7 fw-light text-gray-700 mb-0 py-1">
                      Sem etapas
                    </h3>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="d-flex flex-wrap justify-content-between align-items-center pt-5 pt-sm-8">
            <h2 class="mb-0">
              Documentos
            </h2>

            <button
              id="tcc_generate_document"
              type="button"
              class="btn btn-sm btn-light w-100 w-sm-auto mt-2 mt-sm-0"
              data-tcc="{{ object.id }}">
              <span class="svg-icon svg-icon-1">
                <i class="fas fa-file-pdf fs-4"></i>
              </span>
              Gerar Documento
            </button>
          </div>

          <div id="tcc_documents_container" class="mt-5 mt-sm-8 d-flex flex-column gap-3">
            {% for document in final_documents %}
              <a href="/{{ document.path }}" class="document-file" target="_blank">
                <div class="d-flex justify-content-between border border-dashed rounded border-hover-primary border-gray-400 px-5 py-3 w-100">
                  <div class="d-flex align-items-center">
                    <span>
                      <i class="{{ document.path|file_icon }} file-icon text-gray-500 fs-2"></i>
                    </span>

                    <span class="file-name fw-light text-gray-700 fs-6 ms-2">
                      {{ document.path|file_name_from_path }}
                    </span>
                  </div>

                  <span class="file-name fw-light text-gray-700 fs-6 ms-2">
                    {{ document.creation_time|date:"d/m/Y H:i:s" }}
                  </span>
                </div>
              </a>
            {% endfor %}

            {% if final_documents|length == 0 %}
              <div class="border border-gray-300 rounded p-2">
                <div class="d-flex align-items-center justify-content-between p-4">
                  <h3 class="fs-7 fw-light text-gray-700 mb-0 py-1">
                    Nenhum documento foi gerado ainda.
                  </h3>
                </div>
              </div>
            {% endif %}
          </div>

          <div class="d-flex flex-wrap justify-content-between align-items-center pt-5 pt-sm-8">
            <h2 class="mb-0">
              Reuniões aprovadas
            </h2>

            <a href="{% url 'works:meetings' object.id %}" class="btn btn-sm btn-light w-100 w-sm-auto mt-2 mt-sm-0">
              <span class="svg-icon svg-icon-1">
                <i class="fas fa-users-cog fs-4"></i>
              </span>
              Ata de acompanhamento
            </a>
          </div>

          <div class="mt-5 mt-sm-8">
            <div class="d-flex flex-column">
              {% for meeting in meetings %}
                {% if meeting.get_is_approved %}
                  <a class="border border-gray-300 rounded p-2 mt-3">
                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between p-4">
                      <h3 class="fs-7 fw-light text-gray-700 mb-0">
                        {{ meeting.description }}
                      </h3>

                      <span class="fw-light fs-7 text-gray-400">
                        {{ meeting.get_meeting_date }}
                      </span>
                    </div>
                  </a>
                {% endif %}
              {% endfor %}

              {% if meetings|length == 0 %}
                <div class="border border-gray-300 rounded p-2">
                  <div class="d-flex align-items-center justify-content-between p-4">
                    <h3 class="fs-7 fw-light text-gray-700 mb-0 py-1">
                      Sem reuniões
                    </h3>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="d-flex flex-wrap justify-content-between align-items-center pt-5 pt-sm-8">
            <h2 class="mb-0">
              Apresentação final
            </h2>
          </div>
          {% if user_group.is_supervisor %}
            <div class="mt-2 mt-sm-5">
              <p class="text-muted">
                Você <span class="text-primary">{{ request.user.get_full_name }}</span>, orientador do trabalho de
                conclusão de curso considera que este trabalho está apto para a apresentação final?
              </p>

              <!-- Alternatives -->
              <div
                id="tcc_able_to_present_container"
                data-final-work="{{ object.id }}"
                data-default="{{ able_to_present }}">
                {% csrf_token %}

                <input
                  type="radio"
                  class="btn-check"
                  name="tcc_able_to_present"
                  value="null"
                  {% if object.able_to_present is None %}
                    checked="checked"
                  {% endif %}
                  id="tcc_able_to_present_null"/>
                <label
                  class="btn btn-outline btn-outline-dashed btn-active-light-primary btn-outline-default p-7 d-flex align-items-center mb-5 able-to-present-icons"
                  for="tcc_able_to_present_null">
                  <span class="able-to-present-icons me-2">
                    <i class="fas fa-spinner"></i>
                  </span>

                  <span class="d-block fw-semibold text-start">
                    <span class="text-dark fw-bold d-block fs-3">Trabalho em progresso.</span>
                    <span class="text-muted fw-semibold fs-6">
                      O trabalho ainda não está concluído e está sendo trabalhado. Sendo assim não é possível determinar
                      se o trabalho está pronto para ser apresentado.
                    </span>
                  </span>
                </label>

                <input
                  type="radio"
                  class="btn-check"
                  name="tcc_able_to_present"
                  value="true"
                  {% if object.able_to_present is True %}
                    checked="checked"
                  {% endif %}
                  id="tcc_able_to_present_true"
                />
                <label
                  class="btn btn-outline btn-outline-dashed btn-active-light-primary btn-outline-default p-7 d-flex align-items-center mb-5 able-to-present-icons"
                  for="tcc_able_to_present_true">
                  <span class="able-to-present-icons me-2">
                    <i class="far fa-check-circle"></i>
                  </span>

                  <span class="d-block fw-semibold text-start">
                    <span class="text-dark fw-bold d-block fs-3">Trabalho apto.</span>
                    <span class="text-muted fw-semibold fs-6">
                      O trabalho foi concluído e está apto para a apresentação final do projeto.
                    </span>
                  </span>
                </label>

                <input
                  type="radio"
                  class="btn-check"
                  name="tcc_able_to_present"
                  value="false"
                  {% if object.able_to_present is False %}
                    checked="checked"
                  {% endif %}
                  id="tcc_able_to_present_false"
                />
                <label
                  class="btn btn-outline btn-outline-dashed btn-active-light-primary btn-outline-default p-7 d-flex align-items-center able-to-present-icons"
                  for="tcc_able_to_present_false">
                  <span class="able-to-present-icons me-2">
                    <i class="far fa-times-circle"></i>
                  </span>

                  <span class="d-block fw-semibold text-start">
                    <span class="text-dark fw-bold d-block fs-3">Trabalho inapto.</span>
                    <span class="text-muted fw-semibold fs-6">
                      O trabalho foi concluído, no entanto, o orientador não considera que a proposta foi executada,
                      tornando o projeto inapto para a apresentação final.
                    </span>
                  </span>
                </label>
              </div>
            </div>
          {% else %}
          <div class="mt-2 mt-sm-5">
            <!-- Alternatives -->
            <div
              id="tcc_able_to_present_container"
              data-final-work="{{ object.id }}"
              data-default="{{ able_to_present }}">
              {% csrf_token %}

              <input
                type="radio"
                class="btn-check custom-disabled"
                name="tcc_able_to_present"
                value="null"
                {% if object.able_to_present is None %}
                  checked="checked"
                {% else %}
                  disabled
                {% endif %}
                id="tcc_able_to_present_null"/>
              <label
                class="btn btn-outline btn-outline-dashed btn-active-light-primary btn-outline-default p-7 d-flex align-items-center mb-5 able-to-present-icons"
                for="tcc_able_to_present_null">
                <span class="able-to-present-icons me-2">
                  <i class="fas fa-spinner"></i>
                </span>

                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-3">Trabalho em progresso.</span>
                  <span class="text-muted fw-semibold fs-6">
                    O trabalho ainda não está concluído e está sendo trabalhado. Sendo assim não é possível determinar
                    se o trabalho está pronto para ser apresentado.
                  </span>
                </span>
              </label>

              <input
                type="radio"
                class="btn-check custom-disabled"
                name="tcc_able_to_present"
                value="true"
                {% if object.able_to_present is True %}
                  checked="checked"
                {% else %}
                  disabled
                {% endif %}
                id="tcc_able_to_present_true"
              />
              <label
                class="btn btn-outline btn-outline-dashed btn-active-light-primary btn-outline-default p-7 d-flex align-items-center mb-5 able-to-present-icons"
                for="tcc_able_to_present_true">
                <span class="able-to-present-icons me-2">
                  <i class="far fa-check-circle"></i>
                </span>

                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-3">Trabalho apto.</span>
                  <span class="text-muted fw-semibold fs-6">
                    O trabalho foi concluído e está apto para a apresentação final do projeto.
                  </span>
                </span>
              </label>

              <input
                type="radio"
                class="btn-check custom-disabled"
                name="tcc_able_to_present"
                value="false"
                {% if object.able_to_present is False %}
                  checked="checked"
                {% else %}
                  disabled
                {% endif %}
                id="tcc_able_to_present_false"
              />
              <label
                class="btn btn-outline btn-outline-dashed btn-active-light-primary btn-outline-default p-7 d-flex align-items-center able-to-present-icons"
                for="tcc_able_to_present_false">
                <span class="able-to-present-icons me-2">
                  <i class="far fa-times-circle"></i>
                </span>

                <span class="d-block fw-semibold text-start">
                  <span class="text-dark fw-bold d-block fs-3">Trabalho inapto.</span>
                  <span class="text-muted fw-semibold fs-6">
                    O trabalho foi concluído, no entanto, o orientador não considera que a proposta foi executada,
                    tornando o projeto inapto para a apresentação final.
                  </span>
                </span>
              </label>
            </div>
          </div>
          {% endif %}

          <div class="d-flex flex-wrap justify-content-between align-items-center pt-5 pt-sm-8">
            <h2 class="mb-0">
              Avaliação do professor
            </h2>
          </div>

          <div class="mt-2 mt-sm-5">
            O professor da disciplina de TCC avalia esse trabalho com atenção à dedicação demonstrada pelos estudantes.
            A análise criteriosa resultou em uma nota que reflete diversos aspectos, incluindo o esforço investido,
            a qualidade da pesquisa, a profundidade da análise e a originalidade das contribuições apresentadas.
          </div>

          <div
            id="tcc_grading_score_container"
            class="mt-2 mt-sm-5"
            data-final-work="{{ object.id }}">
            <label
              for="tcc_grading_score_range"
              class="d-flex form-label align-items-center">
              <div>
                <i class="fas fa-star text-warning"></i>
              </div>

              <span class="ms-1">
                Nota avaliativa
              </span>

              <div class="ms-2">
                <span id="tcc_grading_score" class="badge badge-light">
                  {{ object.grading_score }}
                </span>
              </div>
            </label>

            <input
              id="tcc_grading_score_range"
              type="range"
              class="form-range"
              value="{{ object.grading_score }}"
              min="0"
              max="100"
              {% if user_group.is_teacher is False %}
                disabled
              {% endif %}>

            {% if user_group.is_teacher %}
              <div class="d-flex justify-content-end">
                <button id="tcc_grading_score_save" class="btn btn-sm btn-primary">Salvar</button>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block css-styles %}
  <style>
    .able-to-present-icons i {
      font-size: 40px !important;
    }

    .document-file {
      transition: all 0.3s ease-out;
    }

    .document-file:hover .file-icon {
      color: #7239EA !important;
      transition: all 0.3s ease-out;
    }

    .document-file:hover .file-name {
      color: #7239EA !important;
      transition: all 0.3s ease-out;
    }

    .text-select-none {
      user-select: none;
    }

    .flex-grow {
      flex-grow: 1;
    }
  </style>
{% endblock %}

{% block js-vendors %}
  <script src="{% static 'vendor/jquery.validate.js/jquery.validate.min.js' %}"></script>
{% endblock %}

{% block js-scripts %}
  <script src="{% static 'js/final-work-stages/list.js' %}"></script>
{% endblock %}
