{% extends 'layout.html' %}
{% load static %}

{% block header %}
  <div
  id="kt_header"
  class="header"
  data-kt-sticky="true"
  data-kt-sticky-name="header"
  data-kt-sticky-offset="{default: '200px', lg: '300px'}">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <!-- Page Title -->
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-bold my-0 fs-2">Etapas</h1>
        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            <a href="#" class="text-muted">
              TCC
            </a>
          </li>
          <li class="breadcrumb-item text-muted">
            Etapas
          </li>
          <li class="breadcrumb-item text-dark">
            Listagem
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <div class="card">
        <div class="card-header border-0 p-8 pb-4">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <h1 class="mb-0">
                TCC Control
              </h1>
              <i class="fas fa-check-circle fa-fw fs-2 text-primary ms-3"></i>
              <span class="badge badge-light-success fw-bolder ms-2 fs-8 py-1 px-3">Completo</span>
            </div>
            <div class="d-flex">
              <div class="d-flex fw-semibold fs-6 pe-2">
                <div class="d-flex align-items-center me-5 mb-2">
                  <i class="fas fa-user-tie text-gray-400 fa-fw"></i>
                  <span class="ms-2 text-gray-400">Orientador:</span>
                </div>
                <span class="text-gray-700 fw-bold">
                  Felipe Perez
                </span>
              </div>
              <div class="ms-10 d-flex fw-semibold fs-6 pe-2">
                <div class="d-flex align-items-center me-5 mb-2">
                  <i class="fas fa-user-graduate text-gray-400 fa-fw"></i>
                  <span class="ms-2 text-gray-400">Orientado(s):</span>
                </div>
                <span class="text-gray-700 fw-bold">
                  Lucas Braga, Willian Matiussi
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-sm btn-primary btn-icon-white btn-text-white">
              <span class="svg-icon svg-icon-1">
                <i class="fas fa-file-contract fs-5"></i>
              </span>
              Comprovante de Orientação
            </button>
          </div>
        </div>
        <div class="card-body pt-4">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-0 text-gray-700 fw-light">Etapas</h2>
            <button type="button" class="btn btn-sm btn-light">
              <span class="svg-icon svg-icon-1">
                <i class="fas fa-file-pdf fs-4"></i>
              </span>
              Documento
            </button>
          </div>
          <div class="mt-8">
            <div class="d-flex flex-column">
              <a href="#" class="border border-gray-300 rounded p-2">
                <div class="d-flex align-items-center justify-content-between p-4">
                  <h3 class="fs-7 fw-light text-gray-700 mb-0">
                    Termo de abertura de projeto
                  </h3>
                  <span class="badge badge-light-dark">Atribuído</span>
                </div>
              </a>
              <a href="#" class="border border-gray-300 rounded mt-3 p-2">
                <div class="d-flex align-items-center justify-content-between p-4">
                  <h3 class="fs-7 fw-light text-gray-700 mb-0">
                    DER
                  </h3>
                  <span class="badge badge-light-success">Concluído</span>
                </div>
              </a>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center pt-8">
            <h2 class="mb-0 text-gray-700 fw-light">Reuniões</h2>
            <button type="button" class="btn btn-sm btn-light">
              <span class="svg-icon svg-icon-1">
                <i class="fas fa-users-cog fs-4"></i>
              </span>
              Ata de acompanhamento
            </button>
          </div>
          <div class="mt-8">
            <div class="d-flex flex-column">
              <a href="#" class="border border-gray-300 rounded p-2">
                <div class="d-flex align-items-center justify-content-between p-4">
                  <h3 class="fs-7 fw-light text-gray-700 mb-0">
                    Reunião para falar sobre o termo de abertura.
                  </h3>
                  <span class="fw-light fs-7 text-gray-400">27/10/2023 10:00</span>
                </div>
              </a>
              <a href="#" class="border border-gray-300 rounded mt-3 p-2">
                <div class="d-flex align-items-center justify-content-between p-4">
                  <h3 class="fs-7 fw-light text-gray-700 mb-0">
                    Reunião sobre o DER
                  </h3>
                  <span class="fw-light fs-7 text-gray-400">20/10/2023 10:00</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
