.navbar-primary-icon i {
  font-size: 1.5rem;
}

.navbar-secondary-icon i {
  font-size: 1.2rem;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-w-200px {
  max-width: 150px;
}

td.end-column {
  text-align: end !important;
}

.end-column .dtr-title {
  text-align: start !important;
}

.input-with-icon {
  position: relative;
}

.input-with-icon .fas {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.z-index-2000 {
  z-index: 2000 !important;
}
