{% extends 'layout.html' %}
{% load static %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-bold my-0 fs-2">Teste de formulário</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <form method="post" id="kt_form_activity">
        <div class="card">
          <div class="card-body pt-lg-12 px-lg-12 pb-lg-0">
            <!-- Title -->
            <div class="fv-row mb-8">
              <label for="title" class="required form-label">Título</label>
              <input type="text" class="form-control form-control-solid" placeholder="Título" name="title"/>
            </div>

            <!-- Sub=title -->
            <div class="fv-row mb-8">
              <label for="subtitle" class="required form-label">Sub título</label>
              <input type="text" class="form-control form-control-solid" placeholder="Sub título" name="subtitle"/>
            </div>

            <!-- Content -->
            <div class="fv-row">
              <label for="content-editor" class="required form-label">Conteúdo</label>
              <div id="kt_content_ck_editor_loading" class="d-flex w-100 justify-content-center align-items-center">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <textarea
                class="d-none"
                name="content-editor"
                id="kt_content_ck_editor"
                cols="30"
                rows="10">
              </textarea>
            </div>
          </div>
          <div class="card-footer px-lg-12 py-lg-8 d-flex justify-content-end">
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary ms-5">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="container-xxl d-flex flex-column flex-md-row flex-stack"></div>
  </div>
{% endblock %}

{% block js-vendors %}
  <script src="{% static 'vendor/ckeditor/ckeditor-classic.bundle.js' %}"></script>
  <script src="{% static 'vendor/validatejs/validate.min.js' %}"></script>
{% endblock %}

{% block js-scripts %}
  <script src="{% static 'js/activities/editor.js' %}"></script>
{% endblock %}
