{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block html-title %}TCC Control{% endblock html-title %}{% block html-subtitle %}{% endblock html-subtitle %}</title>

    {% block css-vendors %}{% endblock %}

    {% block css %}
      <!-- Fonts -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

      <!-- Plugins Bundle Css -->
      <link rel="stylesheet" href="{% static 'plugins/css/plugins.bundle.css' %}">

      <!-- Template Seven Css -->
      <link rel="stylesheet" href="{% static 'css/seven.style.bundle.css' %}">

      <!-- General Css -->
      <link rel="stylesheet" href="{% static 'css/general.css' %}">

      <style>
        .dropdown-header-bg {
          background-image:url('{% static "media/misc/dropdown-header-bg.png" %}')
        }
      </style>
    {% endblock %}

    {% block css-styles %}{% endblock %}
  </head>
  <body
    id="kt_body"
    class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-enabled {% block body_class %}{% endblock %}">
    {% block layout %}{% endblock %}

    {% block js %}
      <!-- Plugins Bundle JS -->
      <script src="{% static 'plugins/js/plugins.bundle.js' %}"></script>

      <!-- Template Seven JS  -->
      <script src="{% static 'js/seven.scripts.bundle.js' %}"></script>

      <!-- SweetAlert -->
      <script src="{% static 'vendor/sweetalert/sweetalert.js' %}"></script>
      <script>
        const Toast = Swal.mixin({
          toast: true,
          position: 'bottom-end',
          showConfirmButton: false,
          timer: 3000,
        });
      </script>

      <!-- Datatable -->
      <script>
        const dataTableLanguages = {
          sEmptyTable: 'Nenhum registro encontrado.',
          sInfo: 'Mostrando _START_ até _END_ de _TOTAL_.',
          sInfoEmpty: 'Mostrando 0 até 0 de 0.',
          sInfoFiltered: '(filtrado do total de _MAX_ registros)',
          sInfoPostFix: '',
          sInfoThousands: ',',
          sLengthMenu: '_MENU_',
          sLoadingRecords: 'Carregando...',
          sProcessing: 'Processando...',
          sSearch: 'Buscar:',
          sZeroRecords: 'Nenhum registro encontrado.',
          oPaginate: {
            sFirst: 'Primeiro',
            sLast: 'Úlitmo',
            sNext: 'Próximo',
            sPrevious: 'Anterior'
          },
          select: {
            rows: {
              '_': 'Você possui %d linhas selecionadas',
              '0': 'Clique em um linha para selecionar',
              '1': '1 linha selecionada'
            }
          }
        }
      </script>

      {% if request.user.is_authenticated %}
        <!-- Notification JS -->
        <script src="{% static 'js/notification/notification.js' %}"></script>
      {% endif %}
    {% endblock %}

    {% block js-vendors %}{% endblock %}
    {% block js-scripts %}{% endblock %}
  </body>
</html>
