{% load static compress %}

<!---
Projeto desenvolvido por Lucas Frutuozo Braga e Willian Matiussi.
Orientado por Felipe Perez.
TCC Control 2023.

Esse projeto utiliza o template gratuito Seven Keen themes.
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block html-title %}TCC Control{% endblock html-title %}{% block html-subtitle %}{% endblock html-subtitle %}
    </title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

    <!-- CSS Vendors -->
    {% compress css %}
      {% block css-vendors %}{% endblock %}
    {% endcompress %}

    <!-- Inline css vendors -->
    {% compress css inline %}
      {% block inline-css-vendors %}{% endblock %}
    {% endcompress %}

    <!-- General css -->
    {% compress css %}
      {% block css %}
        <!-- Plugins Bundle Css -->
        <link href="{% static 'plugins/css/plugins.bundle.css' %}" rel="stylesheet" type="text/css">

        <!-- Template Seven Css -->
        <link href="{% static 'css/seven.style.bundle.css' %}" rel="stylesheet" type="text/css">

        <!-- General Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
      {% endblock %}
    {% endcompress %}

    <!-- Inline general css -->
    {% compress css inline %}
      {% block inline-css %}
        <style>
          .dropdown-header-bg {
            background-image:url('{% static "media/misc/dropdown-header-bg.png" %}')
          }
        </style>
      {% endblock %}
    {% endcompress %}

    <!-- App styles -->
    {% compress css %}
      {% block css-styles %}{% endblock %}
    {% endcompress %}

    <!-- Inline app styles -->
    {% compress css inline %}
      {% block inline-css-styles %}{% endblock %}
    {% endcompress %}
  </head>
  <body
    id="kt_body"
    class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-enabled {% block body_class %}{% endblock %}">
    {% block layout %}{% endblock %}

    <!-- General js -->
    {% compress js %}
      {% block js %}
        <!-- Plugins Bundle JS -->
        <script src="{% static 'plugins/js/plugins.bundle.js' %}"></script>

        <!-- Template Seven JS  -->
        <script src="{% static 'js/seven.scripts.bundle.js' %}"></script>

        <!-- SweetAlert -->
        <script src="{% static 'vendor/sweetalert/sweetalert.js' %}"></script>
      {% endblock %}
    {% endcompress %}

    {% if request.user.is_authenticated %}
      {% compress js %}
        <!-- Notification JS -->
        <script src="{% static 'js/notification/notification.js' %}"></script>
      {% endcompress %}
    {% endif %}

    <!-- Inline general js -->
    {% compress js inline %}
      {% block inline-js %}
        <!-- Toast -->
        <script>
          const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-end',
            showConfirmButton: false,
            timer: 3000,
          });
        </script>

        <!-- Datatable -->
        <script>
          const dataTableLanguages = {
            sEmptyTable: 'Nenhum registro encontrado.',
            sInfo: 'Mostrando _START_ até _END_ de _TOTAL_.',
            sInfoEmpty: 'Mostrando 0 até 0 de 0.',
            sInfoFiltered: '(filtrado do total de _MAX_ registros)',
            sInfoPostFix: '',
            sInfoThousands: ',',
            sLengthMenu: '_MENU_',
            sLoadingRecords: 'Carregando...',
            sProcessing: 'Processando...',
            sSearch: 'Buscar:',
            sZeroRecords: 'Nenhum registro encontrado.',
            oPaginate: {
              sFirst: 'Primeiro',
              sLast: 'Úlitmo',
              sNext: 'Próximo',
              sPrevious: 'Anterior'
            },
            select: {
              rows: {
                '_': 'Você possui %d linhas selecionadas',
                '0': 'Clique em um linha para selecionar',
                '1': '1 linha selecionada'
              }
            }
          }
        </script>
      {% endblock %}
    {% endcompress %}

    <!-- Js vendors -->
    {% compress js %}
      {% block js-vendors %}{% endblock %}
    {% endcompress %}

    <!-- Uncompress js -->
    {% block uncompress-js %}{% endblock %}

    <!-- Js scripts -->
    {% compress js %}
      {% block js-scripts %}{% endblock %}
    {% endcompress %}

    <!-- Inline js scripts -->
    {% compress js inline %}
      {% block inline-js-scripts %}{% endblock %}
    {% endcompress %}
  </body>
</html>
