{% extends 'layout.html' %}
{% load static %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}"
    style="animation-duration: 0.3s;">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-semibold my-0 fs-2">
          Listagem
        </h1>

        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            TCC
          </li>
          <li class="breadcrumb-item text-dark">
            Listagem
          </li>
        </ul>
      </div>

      <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
        <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
          <i class="fas fa-bars fs-2x"></i>
        </div>

        <a href="{% url 'home' %}">
          <div class="symbol symbol-40px symbol-circle">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-white" style="font-weight: bolder">TC</div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <div class="card">
        <div class="card-header border-0 p-8 pb-4">
          <!-- Searh -->
          <div class="card-title w-100 w-md-auto">
            <div class="d-flex align-items-center position-relative w-100">
              <span class="position-absolute ms-6">
                <i class="fas fa-search"></i>
              </span>
              <input
                id="tcc_datatable_search_input"
                type="text"
                data-tcc-activity-table-filter="search"
                class="form-control form-control-solid w-100 w-md-250px ps-14"
                placeholder="Buscar atividade">
            </div>
          </div>

          <!-- Toolbar -->
          <div class="card-toolbar p-0 m-0 justify-content-center justify-content-md-start w-100 w-md-auto">
            <!-- Completed options -->
            <div
              id="tcc_completed_button_filters"
              class="d-flex flex-column flex-sm-row flex-stack gap-2 w-100 w-sm-auto"
              data-kt-buttons="true">
              <button
                type="button"
                class="btn btn-light-primary active w-100 w-sm-auto"
                data-kt-docs-advanced-forms="interactive"
                data-completed="false">
                Incompleto
              </button>
              <button
                type="button"
                class="btn btn-light-primary w-100 w-sm-auto"
                data-kt-docs-advanced-forms="interactive"
                data-completed="true">
                Completado
              </button>
            </div>
          </div>
        </div>

        <div class="card-body pt-4">
          {% csrf_token %}

          <table
            id="tcc_datatable_users"
            class="table table-row-bordered gy-5"
            data-api="{% url 'api:works-list' %}?format=datatables"
            data-teacher="{% if teacher %}true{% else %}false{% endif %}">
            <thead>
              <tr class="fw-bold fs-6 text-muted">
                <th class="rounded-start min-w-200px" data-data="description">TCC</th>
                <th class="min-w-150px" data-data="mentees_detail">Orientandos</th>
                <th class="min-w-150px" data-data="supervisor_detail">Orientador</th>
                <th class="min-w-150px" data-data="current_stage">Etapa atual</th>
                <th class="min-w-100px">Etapa atual</th>
                <th class="min-w-100px" data-data="completed">Completado</th>
                <th class="w-auto rounded-end text-start text-sm-end min-w-150px">Ações</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="tcc_participants_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <form class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Atualizar participantes</h5>

          <div
            class="btn btn-icon btn-sm btn-active-light-primary ms-2"
            data-bs-dismiss="modal"
            aria-label="Close">
            <i class="fas fa-times"></i>
          </div>
        </div>

        <div class="modal-body p-8 tcc-participants-body">
          <div id="tcc_participants_loading" class="d-none h-100 d-flex align-items-center justify-content-center">
            <div class="d-flex justify-content-center align-items-center py-3">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <span class="ms-3">Carregando campos...</span>
            </div>
          </div>

          <div id="tcc_participants_form_body">
            <div class="fv-row mb-8">
              <label for="tcc_participants_supervisor" class="required form-label">
                Orientador
              </label>
  
              <select
                id="tcc_participants_supervisor"
                class="form-select form-select-solid"
                name="tcc_participants_supervisor">
                <option></option>
              </select>
            </div>

            <div class="fv-row">
              <label for="tcc_participants_mentee" class="required form-label">
                Orientadores
              </label>
  
              <select
                id="tcc_participants_mentee"
                class="form-select form-select-solid"
                name="tcc_participants_mentee"
                data-control="select2"
                data-close-on-select="false"
                data-placeholder="Selecione os orientandos"
                data-allow-clear="true"
                multiple="multiple">
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button id="tcc_participants_cancel_button" type="button" class="btn btn-light form-actions" data-bs-dismiss="modal">
            Fechar
          </button>

          <button id="tcc_participants_confirm_button" type="button" class="btn btn-primary form-actions">
            Confirmar
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block css-vendors %}
  <link rel="stylesheet" href="{% static 'vendor/datatable/datatables.bundle.css' %}">
{% endblock %}

{% block css-styles %}
  <style>
    .tcc-participants-body {
      height: 218px;
    }
  </style>
{% endblock %}

{% block js-vendors %}
  <script src="{% static 'vendor/datatable/datatables.bundle.js' %}"></script>
{% endblock %}

{% block js-scripts %}
  <script src="{% static 'js/final-work/list.js' %}"></script>
{% endblock %}
