{% extends 'layout.html' %}
{% load static %}

{% block header %}
  <div
    id="kt_header"
    class="header"
    data-kt-sticky="true"
    data-kt-sticky-name="header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}"
    style="animation-duration: 0.3s;">
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <div
        class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-5 pb-lg-0"
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <h1 class="text-dark fw-semibold my-0 fs-2">
          Listagem
        </h1>

        <ul class="breadcrumb breadcrumb-line text-muted fw-semibold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            Atividades
          </li>
          <li class="breadcrumb-item text-dark">
            Listagem
          </li>
        </ul>
      </div>

      <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
        <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
          <i class="fas fa-bars fs-2x"></i>
        </div>

        <a href="{% url 'home' %}">
          <div class="symbol symbol-40px symbol-circle">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-white" style="font-weight: bolder">TC</div>
          </div>
        </a>
      </div>

      <div class="d-flex flex-shrink-0">
        <div class="d-flex ms-3">
          <a href="{% url 'activities:create' %}" class="btn btn-primary">
            Adicionar
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
      <div class="card">
        {% csrf_token %}

        <div class="card-header border-0 p-8 pb-4">
          <!-- Searh -->
          <div class="card-title w-100 w-md-auto mb-3 my-0 me-0 my-md-2 me-md-2">
            <div class="d-flex align-items-center position-relative my-0 me-0 my-md-1 me-md-2 w-100">
              <span class="position-absolute ms-6">
                <i class="fas fa-search"></i>
              </span>
              <input
                id="tcc_datatable_search_input"
                type="text"
                data-tcc-activity-table-filter="search"
                class="form-control form-control-solid w-100 w-md-250px ps-14"
                placeholder="Buscar atividade">
            </div>
          </div>

          <!-- Toolbar -->
          <div class="card-toolbar p-0 m-0 justify-content-center justify-content-md-start w-100 w-md-auto">
            <!-- Archived options -->
            <div
              id="tcc_archived_button_filters"
              class="d-flex flex-column flex-sm-row flex-stack gap-2 w-100 w-sm-auto"
              data-kt-buttons="true">
              <button
                type="button"
                class="btn btn-light-primary active w-100 w-sm-auto"
                data-kt-docs-advanced-forms="interactive"
                data-archived="false">
                Não arquivados
              </button>
              <button
                type="button"
                class="btn btn-light-primary w-100 w-sm-auto"
                data-kt-docs-advanced-forms="interactive"
                data-archived="true">
                Arquivados
              </button>
            </div>
          </div>
        </div>

        <div class="card-body pt-4">
          <table
            id="tcc_datatable_activity_configurations"
            class="table table-row-bordered"
            data-api="{% url 'api:activities-list' %}?format=datatables">
            <thead>
              <tr class="fw-bold fs-6 text-muted">
                <th class="rounded-start min-w-200px" data-data="name">Descrição</th>
                <th class="min-w-150px" data-data="fields_description">Campos</th>
                <th class="min-w-200px" data-data="document_insertion">Inclusão no documento</th>
                <th class="w-auto rounded-end text-start text-sm-end min-w-100px">Ações</th>
              </tr>
            </thead>

            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="tcc_form_messages" class="d-none">
    {% if messages %}
      {% for message in messages %}
        <div data-mode="{{ message.tags }}">{{ message|safe }}</div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}

{% block css-vendors %}
  <link rel="stylesheet" href="{% static 'vendor/datatable/datatables.bundle.css' %}">
{% endblock %}

{% block inline-css-vendors %}
  <style>
    .my-actions { margin: 0 2em; }
    .order-1 { order: 1; }
    .order-2 { order: 2; }
    .order-3 { order: 3; }

    .right-gap {
      margin-right: auto;
    }
  </style>
{% endblock %}

{% block js-vendors %}
  <script src="{% static 'vendor/datatable/datatables.bundle.js' %}"></script>
{% endblock %}

{% block js-scripts %}
  <script src="{% static 'js/activity-configurations/list.js' %}"></script>
  <script>
    $('#tcc_form_messages').find('div').each(function() {
      const text = $(this).text();
      const mode = $(this).data('mode');
      Toast.fire({
        icon: mode,
        title: text,
      });
    });
  </script>
{% endblock %}
