{% extends 'base.html' %}

{% block body_class %}primary-gradient{% endblock %}

{% block layout %}
  <div class="d-flex flex-column flex-root z-index-1">
    <div class="d-flex flex-column flex-column-fluid">
      <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
          <div class="d-flex align-items-center justify-content-center">
            <div class="symbol symbol-50px symbol-circle me-2">
              <div class="symbol-label fs-2 fw-bolder bg-primary text-white">TC</div>
            </div>

            <h1 class="fw-bolder mb-0 fs-1">
              TCC Control
            </h1>
          </div>

          <div class="mt-8">
            <h3>Requisição Inválida</h3>

            <p class="m-0">
              Acesso não autorizado! Você precisa fazer login para acessar esta página. Faça login ou crie uma conta
              para aproveitar ao máximo o nosso site.
            </p>
          </div>

          <div class="mt-8">
            <div class="d-flex justify-content-center">
              <a href="{% url 'home' %}" class="btn btn-sm btn-secondary">
                <i class="fas fa-long-arrow-alt-left"></i>

                Voltar a aplicação
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block inline-css-styles %}
  <style>
    .primary-gradient {
      background: rgb(95,77,239);
      background: linear-gradient(120deg, rgba(95,77,239,1) 0%, rgba(95,77,239,1) 100%);
    }
  </style>
{% endblock %}
